#slider1_container{
    position: relative;
    width: 1920px;
    height: 1000px;
    overflow: hidden;
    margin: 0 auto;
}
#loading2{
    position: absolute;
    top: 0;
    left: 0;
}
.loading_a{
    filter: alpha(opacity=70);
    opacity:0.7;
    position: absolute;
    display: block;
    background-color: #000;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
}
.loading_b{
    position: absolute;
    display: block;
    background: url(../images/loading.gif) no-repeat center center;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
}
.z_slides{
    cursor: move;
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1000px;
    overflow: hidden;
}
.jssort07{
    position: absolute;
    width: 1920px;
    height: 203px;
    left:0;
    bottom: 74px;

}
.jssort07 .i {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 254px;
    height: 203px;
    filter: alpha(opacity=80);
    opacity: .8;

}

.jssort07 .p:hover .i, .jssort07 .pav .i {
    filter: alpha(opacity=100);
    opacity: 1;
}

.jssort07 .o {
    position: absolute;
    top: 70px;
    left: 0px;
    width: 254px;
    height: 133px;
    border: 3px solid rgba(255,255,255,0);
    transition: border-color .6s;
    -moz-transition: border-color .6s;
    -webkit-transition: border-color .6s;
    -o-transition: border-color .6s;
}

* html .jssort07 .o {
    /* ie quirks mode adjust */
    width /**/: 254px;
    height /**/: 203px;
}

.jssort07 .pav .o, .jssort07 .p:hover .o {
    border: 3px solid #be2025;
}

.jssort07 .pav:hover .o {
    border: 3px solid #be2025;
}

.jssort07 .p:hover .o {
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}

.z_Skin{
    width: 100%;
    height:100%;
}
.z_slides_ac{
    cursor: move;
}
.z_slides_ac .p{
    position: absolute;
    width: 254px;
    height: 203px;
    top: 0;
    left: 0;
}
.z_slides_ac .i{
    position:absolute;
}


.jssora11l, .jssora11r, .jssora11ldn, .jssora11rdn {
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
}

.jssora11l {
    top: 115px !important;
    background: url(../images/case_left.png) no-repeat;
}

.jssora11r {
    top: 115px !important;
    background: url(../images/case_right.png) no-repeat;
}

.jssora11l:hover {
    background: url(../images/case_left2.png) no-repeat;
}

.jssora11r:hover {
    background: url(../images/case_right2.png) no-repeat;
}

.jssora11ldn {
    top: 115px !important;
    background: url(../images/case_left2.png) no-repeat;
}

.jssora11rdn {
    top: 115px !important;
    background: url(../images/case_right2.png) no-repeat;
}
.z_case_content{
    position: absolute;
    color: #fff;
    z-index: 6;
    width: 590px;
    height: 240px;
    text-align: center;
    left: 50%;
    top: 45%;
    margin-top: -120px \9;
    margin-left: -295px \9;
    transform: translate(-50%, -50%) !important;
}
.z_case_content .z_data{
    font-size: 24px;
    font-weight: 200;
}
.z_case_content .z_title{
    margin-top: 10px;
    font-size: 48px;
    height: 70px;
    line-height: 48px;
    font-weight: normal;
    position: relative;
}
.z_case_content .z_title:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 5%;
    display: block;
    width: 90%;
    height: 1px;
    border-bottom: 1px solid #fff;
}
.z_case_content .z_describe{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-family: SourceHanSansCN;
    font-weight: 200;
    font-size: 14px;
    line-height: 30px;
    margin: 20px 5.5% 0 5.5%;
    width: 89%;
}
.z_case_thumb_content{
    position: absolute;
    font-size: 14px;
    color: #fff;
}
.z_case_thumb_content2{
    position: absolute;
    font-size: 14px;
    color: #fff;
    width: 100%;
    top: -2000px;
    background: #be2025;
    text-align: center;
    padding: 15px 0;
    z-index: 6;
    transition: All 0.5s ease-in-out;
    -webkit-transition: All 0.5s ease-in-out;
    -moz-transition: All 0.5s ease-in-out;
    -o-transition: All 0.5s ease-in-out;
}
.z_case_thumb_content{
    text-align: center;
    width: 254px;
    bottom: 15px;
    z-index: 9;
    font-family: SourceHanSansCN;
    font-weight: 100;
    font-size: 14px;
    opacity: 1;
    transition: All 0.5s ease-in-out;
    -webkit-transition: All 0.5s ease-in-out;
    -moz-transition: All 0.5s ease-in-out;
    -o-transition: All 0.5s ease-in-out;
}
.jssort07 .pav .z_case_thumb_content2{
    top: 0;
}
.jssort07 .pav .z_case_thumb_content{
    opacity: 0;
}
.z_slides_ac>div{
    overflow: auto !important;
}
.z_slides_ac .i img{
    margin-top: 70px;
    width: 254px;
    height: 132px;
}