#chbnav_touch{
    display: none;
}/*world_map*/
@media(max-width: 1600px){

    /*world_map*/
    .j_mapimg_box .j_position_img1{
        top: 168px;
        left: 474px;
    }
    .j_mapimg_box .j_position_img2{
        top: 225px;
        left: 255px;
    }
    .j_mapimg_box .j_position_img3{
        top: 473px;
        left: 257px;
    }
    .j_mapimg_box .j_position_img4{
        top: 365px;
        left: 449px;
    }
    .j_mapimg_box .j_position_img5{
        top: 94px;
        left: 1130px;
        display: none;
    }
    .j_mapimg_box .j_position_img6{
        top: 542px;
        left: 652px;
    }
    .j_mapimg_box .j_position_img7{
        top: 486px;
        left: 1310px;
    }
    .j_mapimg_box_m{
        display: none;
    }
    .j_mapimg_box a{
        display: block;
        width: 129px;
        height: 146px;
        position: absolute;
        top: 271px;
        left: 544px;
    }
    /*innovation_system*/
    .j_innovation_box2 ul li:first-child{
        right: 155px;
    }
    .j_innovation_box2 ul li:nth-child(2){
        right: 210px;
    }
    .j_innovation_box2 ul li:nth-child(3){
        left: 240px;
    }
    .j_innovation_box2 ul li:nth-child(4){
        left: 80px;
    }
    .j_innovation_box2 ul li:nth-child(5){
        left: 580px;
    }
    /*chinese_map*/
    .j_mapimg_box_c .j_position_img11{
        left: 63.485%;
        top: 18.988%;
    }
    .j_mapimg_box_c .j_position_img12{
        left: 54.803%;
        top: 37.078%;
    }
    .j_mapimg_box_c .j_position_img13{
        left: 67.434%;
        top: 35.955%;
    }
    .j_mapimg_box_c .j_position_img14{
        left: 71.381%;
        top: 44.943%;
    }

    /*1225*/
    .j_produ_details_lb{
        height: 432px;
    }
    .j_produ_details_cont{
        height: 432px;
        padding-top: 0;
    }

    /*1229*/
    .j_group_left{
        width: 60%;
    }
    .j_group_top h4{
        margin-top: 50px;
    }
    .j_group_top{
        width: 505px;
        height: auto;
    }
    .j_map_info h3{
        font-size: 22px;
    }
    .j_map_info{
        padding: 45px;
    }
    .j_map_info p{
        font-size: 14px;
    }
    .j_map_info p {
        line-height: 33px;
    }
    .j_map_info p span {
        margin-right: 5px;
    }
}


@media(max-width: 1580px){
    .j_technological_box_1{
        width: calc(50% - 30px);
    }
    .j_technological_box4_lb.am-slider-default .am-direction-nav .am-prev{
        left: -100px;
    }
    .j_technological_box4_lb.am-slider-default .am-direction-nav a.am-next{
        right: -100px;
    }

    /*corporate_logo*/
    .j_corporate_infobox{
        width: 40.263%;
        margin-right: 1.842%;
    }
    .j_corporate_imgbox{
        width: 59.21%;
    }
    .j_corporate_imgbox img{
        width: 100%;
    }
    .j_corporate_infobox{
        height: 630px;
        padding: 60px;
    }
    


    /*value_concept*/
    .j_value_videobox ul li .right{
        padding-left: 190px;
    }
}
@media(max-width: 1510px){
    .j_mapimg_box_c .j_position_img11{
        top: 18%;
    }
    .j_mapimg_box_c .j_position_img12{
        top: 36.5%;
    }
    .j_mapimg_box_c .j_position_img13{
        top: 35%;
    }
    .j_mapimg_box_c .j_position_img14{
        top: 44%;
    }
}
@media(max-width: 1440px){
    .j_mapimg_box .j_position_img1{
        top: 21.3%;
        left: 415px;
    }
    .j_mapimg_box .j_position_img2{
        top: 29%;
        left: 221px;
    }
    .j_mapimg_box .j_position_img3{
        top: 62%;
        left: 224px;
    }
    .j_mapimg_box .j_position_img4{
        top: 72.2%;
        left: 568px;
    }
    .j_mapimg_box .j_position_img5{
        top: 12.5%;
    }
    .j_mapimg_box .j_position_img6{
        top: 48%;
        left: 388px;
    }
    .j_mapimg_box .j_position_img7{
        top: 64.5%;
        left: 1145px;
    }
    .j_mapimg_box a{
        width: 8.487%;
        left: 35.434%;
        top: 34.184%;
    }


    /*innovation_system*/
    .j_innovation_box2 ul li:first-child{
        right: 80px;
    }
    .j_innovation_box2 ul li:nth-child(2){
        right: 140px;
    }
    .j_innovation_box2 ul li:nth-child(3){
        left: 160px;
    }
    .j_innovation_box2 ul li:nth-child(4){
        left: 10px;
    }
    .j_innovation_box2 ul li:nth-child(5){
        left: 500px;
    }
    .j_mapimg_box_c .j_position_img11{
        top: 17%;
    }
    .j_mapimg_box_c .j_position_img12{
        top: 35.5%;
    }
    .j_mapimg_box_c .j_position_img13{
        top: 34%;
    }
    .j_mapimg_box_c .j_position_img14{
        top: 43%;
    }


    /*1225*/
    .j_produ_details_cont h3{
        margin-bottom: 15px;
        font-size: 26px;
    }
    .j_produ_details_cont p{
        margin-bottom: 5px;
        line-height: 28px
    }
    .j_produ_details_lb{
        height: 378px;
    }
    .j_produ_details_cont{
        height: 378px;
    }


    /*1229*/
    .j_group_top{
        padding-top: 0;
        width: 470px;
    }
    .j_group_top p{
        margin-bottom: 40px;
    }
    .j_map_info{
        padding: 25px;
    }


}

@media(max-width: 1380px){
    .j_mapimg_box_c .j_position_img11{
        top: 16%;
    }
    .j_mapimg_box_c .j_position_img12{
        top: 34.5%;
    }
    .j_mapimg_box_c .j_position_img13{
        top: 33%;
    }
    .j_mapimg_box_c .j_position_img14{
        top: 42%;
    }
}
@media(max-width: 1366px){
    .j_map_info p{
        line-height: 33px;
    }
    .j_map_info p span{
        margin-right: 5px;
    }
    .j_research_box ul{
        width: 1220px;
    }
    .j_research_box2 h4{
        font-size: 22px;
    }
    .j_research_box ul li{
        width: 305px;
    }
    .j_research_line{
        left: 93px;
    }
    .j_mapimg_box .j_position_img1{
        top: 21%;
        left: 366px;
    }
    .j_mapimg_box .j_position_img2{
        top: 28.5%;
        left: 195px
    }
    .j_mapimg_box .j_position_img3{
        top: 61.5%;
        left: 196px;
    }
    .j_mapimg_box .j_position_img4{
        top: 71.5%;
        left: 504px;
    }
    .j_mapimg_box .j_position_img5{
        top: 12%;
    }
    .j_mapimg_box .j_position_img6{
        top: 47.5%;
        left: 344px;
    }
    .j_mapimg_box .j_position_img7{
        top: 64%;
        left: 1013px;
    }
    .j_technological_box4_lb.am-slider-default .am-direction-nav .am-prev{
        left: -65px;
    }
    .j_technological_box4_lb.am-slider-default .am-direction-nav a.am-next{
        right: -65px;
    }
}
@media(max-width: 1320px){
    .j_mapimg_box_c .j_position_img11{
        top: 15%;
    }
    .j_mapimg_box_c .j_position_img12{
        top: 33.5%;
    }
    .j_mapimg_box_c .j_position_img13{
        top: 32%;
    }
    .j_mapimg_box_c .j_position_img14{
        top: 41%;
    }
}

@media(max-width: 1280px){
    .j_mapimg_box .j_position_img1{
        top: 21%;
        left: 366px;
    }
    .j_mapimg_box .j_position_img2{
        top: 28.5%;
        left: 195px
    }
    .j_mapimg_box .j_position_img3{
        top: 61.5%;
        left: 196px;
    }
    .j_mapimg_box .j_position_img4{
        top: 71.5%;
        left: 504px;
    }
    .j_mapimg_box .j_position_img5{
        top: 12%;
    }
    .j_mapimg_box .j_position_img6{
        top: 47.5%;
        left: 344px;
    }
    .j_mapimg_box .j_position_img7{
        top: 64%;
        left: 1013px;
    }
    .j_mapimg_box_c .j_position_img11{
        top: 14.5%;
    }
    .j_mapimg_box_c .j_position_img12{
        top: 32.5%;
    }
    .j_mapimg_box_c .j_position_img13{
        top: 31%;
    }
    .j_mapimg_box_c .j_position_img14{
        top: 40%;
    }
}
@media (min-width:1200px){
    /*company_announcement*/
    .j-margin-large-top{
        margin-top: 70px!important;
    }
    .j-margin-large-bottom{
        margin-bottom: 70px!important;
    }
    .j-grid+.j-grid{
        margin-top: 40px;
    }
    .j-card{
        padding: 40px 40px;
    }
}
@media (min-width: 1025px){
    /*company_announcement*/
    .j_newsbox .j-grid .am-u-lg-4{
        width: calc(33.33% - 44px);
    }
    /*special_column_template*/
    .j_columnbox .am-u-lg-4{
        width: calc(33.33% - 40px);
    }
    /*video_center*/
    .j_content_w .am-u-lg-4{
        width: calc(33.33% - 40px);
    }

    /*product_list*/
    .j_productbox .j-grid .am-u-lg-4{
        width: calc(33.33% - 40px);
    }
    /*world_map*/
    .j_mapbox .am-u-lg-4{
        width: calc(33.33% - 50px);
    }
}
/** iPad **/
@media only screen and (min-width: 768px) and (max-width: 1024px) {}
/** iPhone **/
@media only screen and (min-width: 320px) and (max-width: 767px) {
    /*company_announcement*/
    .j_newsbox{
        padding-left: 0;
        padding-right: 0;
    }
    .j_newsbox .am-u-lg-4{
        padding-left: 0;
        padding-right: 0;
    }
    .j_newstime_box{
        margin-bottom: 15px;
    }
    .j_news_title h4{
        font-size: 20px;
        margin-bottom:10px;
    }
    .j_newsline{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .j_newsbox .j-grid+.j-grid{
        margin-top: 20px;
    }
    .j_newsbox .j-grid .am-u-lg-4+.am-u-lg-4{
        margin-top: 20px;
    }
    .j_newsdesc{
        margin-top: 0;
        margin-bottom: 10px;
    }
    .j_newsbox .j_newspage{
        padding-bottom: 40px!important;
        margin-top: 50px!important;
    }
    .j_newsbox .j-grid{
        margin-right: 0!important;
        margin-left: 0!important;
    }
    .j_newsbox .j-grid .am-u-lg-4{
        margin-right: 0;
        margin-left: 0;
    }
    .j_newsbox .j-grid .am-u-lg-4+.am-u-lg-4+.am-u-lg-4+.am-u-lg-4{
        margin-top: 20px;
    }
    .footer_text .uk-inline{
        margin:0;
    }


    /*company_news*/
    .newltext{
        padding:0;
    }
    /*.j_newsbox .j_newlbox{
        display: none;
    }*/
    .j_newsbox>*>*>.j-card1{
        border-left: none;
        background-color: transparent;
        padding: 0;
    }
    .j_newsbox.n_wrap{
        padding: 0;
    }
    /*media_reports*/
    .j_newsbox .j-card2{
        padding:0;
        background-color: transparent!important;
    }
    .j_newsbox .j-card2 .j_newlbox3{
        position: static;
        right: 0;
        padding-left: 0;
    }
    .j_newsbox .j-card2 .j_newlbox3 .j_detail2{
        float: none;
    }
    .j_newstime_box1{
        margin-bottom:10px;
    }

    /*special_column*/
    .j_newsbox .j-grid .am-u-lg-6+.am-u-lg-6{
        margin-top: 20px;
    }
    .j_newsbox .j-grid .am-u-lg-6+.am-u-lg-6+.am-u-lg-6{
        margin-top: 20px;
    }
    .j_newsbox .j-grid .am-u-lg-6{
        padding:0;
    }
    .j_column_red{
        width: 100%;
    }
    .j-card3 h4{
        font-size: 28px;
        margin-bottom: 10px;
    }


    /*special_column_template*/
    .j_column_desc{
        width: auto;
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 55px;
    }
    .j_column_desc p{
        width: 100%;
    }
    .j_column_desc h4{
        font-size: 28px;
        line-height: 45px;
    }
    .j_columnbox{
        margin-top: 30px;
        padding-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
    }
    .j_columnbox h3{
        font-size: 28px;
        margin-bottom: 30px;
    }
    .j_columnbox .am-u-lg-4+.am-u-lg-4{
        margin-top: 20px;
    }
    
    .j_content_w{
        padding-top: 0;
        background-color: transparent;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .j_news_small{
        width: 100%;
        margin-right: 0;
        height: 100px;
        padding: 20px;
    }
    .j_news_small h4{
        line-height: 22px;
        font-size: 20px;
    }
    .j-card3 .j_column_title3 h4{
        font-size: 22px;
    }
    .j_columnbox .j_sj{
        margin-bottom: 20px;
    }
    .j_columnbox .j_sj .am-slider-a1 .am-control-nav{
        bottom: -20px;
    }
    .j_content_w.white_bg .n_wrap{
        padding-left: 15px;
        padding-right: 15px;
    }
    .j_content_w h3{
        margin-bottom: 30px;
        font-size: 28px;
    }
    .j_content_g .am-control-thumbs{
        display: none;
    }
    .j_content_g .j_slider_column .am-viewport{
        width: 100%;
        height: auto;
    }
    .j_content_g .j_slider_column .am-slides{
        height: auto;
    }
    .j_column_title4 h4{
        padding:15px 0 0 0;
        font-size: 22px;
    }
    .j_content_g{
        padding-top: 0;
    }
    .j_content_g .n_wrap{
        padding-left: 15px;
        padding-right: 15px;
    }
    .j_content_g h3{
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 28px;
    }
    .j_slider_column{
        margin-bottom: 30px;
    }
    .j_special_column1 .j-card3 h4{
        color:#000;
    }
    .j_special_column1.j-grid .am-u-lg-6+.am-u-lg-6{
        margin-top: 90px;
    }
    .j_newsbox .j-grid.j_special_column1 .am-u-lg-6+.am-u-lg-6+.am-u-lg-6{
        margin-top: 90px;
    }
    .j_special_column1 .j-card3 .j_column_title1{
        bottom: -60px;
    }
    .j_special_column1 .j-card3 .j_column_title1 .j_column_line{
        display: none;
    }


    /*show_news*/
    .j_newscont1{
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .j_newscont1 .j_newstime_box2{
        padding-right: 0;
        margin-bottom: 15px;
    }
    .j_newscont1 .j_newstime_box2:first-child{
        width: 40%;
    }
    .j_newscont1 .j_newstime_box2:nth-child(2){
        /*width: 30%;*/
        padding-right: 10px;
    }
    .j_newscont1 .j_newstime_box2:last-child{
        width: 30%;
    }
    .j_newscont_box p{
        margin-bottom: 15px;
    }
    .j_news_switch .right{
        float: none;
        clear: both;
        padding-top: 12px;
        display: none;
    }
    .j_newscont2{
        margin-top: 30px;
        width: auto;
        display: none;
    }
    .j_latest_news {
        margin-bottom: 30px;
    }
    .j_newscont2 .j-card4{
        padding-left: 20px;
        padding-right: 20px;
    }
    

    /*group_news*/
    .j_marf25{
        margin-right: 0;
        margin-left: 0;
    }
    .j_group_thumb{
        width: 100%;
        height: auto;
    }
    
    .n_banner1 .n_wrap{
        height: 230px;
    }
    .n_banner h1{
        bottom: calc(50% - 29px);
        left: calc(50% - 71px);
        font-size: 35px;
    }
    .n_banner1{
        height: 230px;
    }
    .n_banner{
        height: 230px;
    }
    .n_content{
        padding-left: 15px;
        padding-right: 15px;
    }
    .j_group_top{
        width: 100%;
        position: static;
        padding-left: 0;
        padding-top: 20px;
        height: auto;
    }
    .j_group_top .j_newstime_box2{
        padding-right: 0;
        margin-bottom: 0;
    }
    .j_group_top .j_newstime_box2:first-child{
        width: 40%;
    }
    .j_group_top .j_newstime_box2:nth-child(2){
        width: 30%;
    }
    .j_group_top .j_newstime_box2:last-child{
        width: 30%;
    }
    .j_group_top h4{
        margin-bottom: 10px;
        font-size: 20px;
        margin-top: 0;
    }
    .j_group_news1 .am-slider-default .am-control-thumbs{
        margin-top: 10px;
    }
    .j_group_news1 .am-slider-default .am-control-thumbs li{
        width: 33.33%;
        margin-right: 0;
    }
    .j_groupbox h3{
        margin-bottom: 20px;
        font-size: 24px;
        text-align: center;
        display: none;
    }
    .j_group_news1 .j_slider_column{
        margin-bottom: 40px;
    }
    .j_groupbox .j_marf25 .am-u-lg-4{
        padding-left: 0;
        padding-right: 0;
    }
    .j-card-group h4{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .j_group_top p{
        font-size: 15px;
        margin-bottom: 15px;
    }
    .j_group_news1 .am-slider .am-slides > li{
        height: auto;
    }
    .j-card-group p{
        font-size: 15px;
        margin-bottom: 15px;
        line-height: 22px;
    }
    .j_group_newsbox{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .j_newstime_groupbox2{
        margin-bottom: 10px;
    }
    .j-pagination a{
        display: none;
    }
    .j-pagination .j_gotonum{
        display: none;
    }
    .j-pagination a:first-child{
        display: inline-block;
    }
    .j-pagination a:nth-child(2){
        display: inline-block;
    }
    .j-pagination a:nth-child(3){
        display: inline-block;
    }
    .j-pagination a.next{
        display: inline-block;
    }
    .j_groupbox .j-pagination{
        padding-bottom: 40px!important;
        margin-top: 0;
    }
    .footer_text .uk-inline:first-child{
        margin-left:0;
    }
    .footer_text .uk-inline{
        padding-left: 0;
    }
    .qrcode{
        padding-left: 0;
        text-align: center;
        padding-top: 20px;
    }
    .qrcode>*{
        position: static;
        height: 110px;
    }
    .qrcode span{
        line-height: 30px;
        right: 0;
        top: 14px;
        padding-left: 21px;
        font-size: 17px;
        position: relative;

    }
    .web_information_box {
        margin-top: 15px;
        padding-top: 15px;
    }
    .web_information_box .left p{
        margin-bottom: 0;
        line-height: 22px;
    }
    .web_information_box .right{
        width: 100%;
    }
    .web_information_box .right p{
        text-align: center;
        line-height: 25px;
    }

    /*company_policy*/
    .j_policybox .j-grid{
        margin-left: 0;
        margin-right: 0;
    }
    .j_policybox .j-grid .am-u-lg-6{
        padding-left: 0;
        padding-right: 0;
    }
    .j_policy_box{
        padding:15px;
    }
    .j_policy_box>div+div{
        width: calc(100% - 70px);
    }
    .j_policy_box .j_news_title h4{
        font-size: 18px;
        margin-bottom: 5px;
        line-height: 25px;
    }
    .j_policybox .j-grid .am-u-lg-6+.am-u-lg-6{
        margin-top: 20px;
    }
    .j_policybox .j-grid .am-u-lg-6+.am-u-lg-6+.am-u-lg-6{
        margin-top: 20px;
    }



    /*video_center*/
    .j_content_w.pt0-t .n_wrap{
        padding-left: 0;
        padding-right: 0;
    }
    .j_column_title5 h4{
        font-size: 22px;
        padding: 0;
        height: 60px;
    }
    .j_column_title5{
        padding: 15px 0;
    }

    /*company_policy*/
    .j_policybox{
        padding-left: 0;
        padding-right: 0;
    }
    .j_policybox .j-pagination{
        margin-top: 50px!important;
    }



    /*stock_quotes*/
    .j_stock_box{
        margin-left: -15px;
        margin-right: -15px;
        padding:15px;
        margin-bottom: 0;
        padding-top: 0;
    }
    .j_stock_contbox{
        width: auto;
        padding:20px;
        position: static;
        height: auto;
    }
    .j-width-1-3s{
        width: 30%;
    }
    .j_stock_data span:first-child{
        padding-right: 30px;
        font-size: 26px;
    }
    .j_stock_data span:last-child{
        display: block;
        padding-top: 0;
        font-size: 14px;
    }
    .j_stock_data{
        margin-bottom: 25px;
    }
    .j_stock_data2{
        margin-bottom: 15px;
    }
    .j_stock_contbox h3{
        font-size: 22px;
        margin-bottom: 18px;
    }
    .j_stock_data span:nth-child(2){
        font-size: 18px;
    }
    .j_stock_data span:nth-child(3){
        font-size: 18px;
    }
    .j_stock_data2>div span{
        font-size: 24px;
    }
    .j_stock_data2>div p{
        font-size: 14px;
        margin-bottom: 15px;
    }
    .j_moyc{
        display: none;
    }



    /*chinese_map*/
    .j_mapimg_box_cm{
        display: block;
    }
    .j_mapimg_box_c{
        display: none;
    }
    .j_mapbox{
        padding-left: 0;
        padding-right: 0;
    }
    .j_mapbox .j_product_box{
        margin-left: 0;
        margin-right: 0;
        z-index: 1;
    }
    .j_mapbox .am-u-lg-4{
        margin-left: 0;
        margin-right: 0;
    }
    .j_case_classification{
        height: 46px;
        width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        white-space:nowrap;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    .j_case_classification::-webkit-scrollbar{
        display: none;
    }
    .j_case_classification a{
        padding-bottom: 5px;
        font-size: 20px;
        margin: 0 7px;
        margin-bottom: 10px;
    }
    .j_contact_map{
        margin-top: 40px;
    }
    .j_mapbox .j_product_box .j_map_information+.j_map_information{
        margin-top: 20px;
    }
    .j_mapbox .am-u-lg-4+.am-u-lg-4+.am-u-lg-4+.am-u-lg-4{
        margin-top: 20px;
    }
    .j_worldmap_box .j_detail1{
        float: left;
        margin-bottom: 20px;
        z-index: 1;
    }
    

    /*innovation_system*/
    .j_innovation_infobox{
        position: static;
        padding-left: 0;
        padding-top: 30px;
        height: auto;
        width: 100%;
        padding-right: 0;
        padding-bottom: 20px;
    }
    

    /*product_list*/
    .j_productbox{
        padding:0;
    }
    .j_productbox .j_product_box{
        margin-left: 0;
        margin-right: 0;
    }
    .j_productbox .j-grid .am-u-lg-4{
        margin-left: 0;
        margin-right: 0;
    }
    .j_produ_title{
        height: 45px;
        margin-top: 0;
        margin-bottom: 20px;
        line-height: 45px;
        font-size: 18px;
    }
    .j_produ_details_lb .am-slider-b1 .am-direction-nav a.am-prev{
        width: 40px;
        height: 25px;
    }
    .j_produ_details_lb .am-slider-b1 .am-direction-nav a:before{
        width: 40px;
        height: 25px;
        background-size: 100%;
    }
    .j_produ_details_lb .am-slider-b1 .am-direction-nav a.am-next:before{
        width: 40px;
        height: 25px;
    }
    .j_produ_details_lb .am-slider-b1 .am-direction-nav a.am-next{
        width: 40px;
        height: 25px;
    }



    /*world_map*/
    .j_mapimg_box_m{
        display: block;
    }
    .j_mapimg_box{
        display: none;
    }
    .j_map_info{
        padding: 30px;
    }
    .j_map_info h3{
        font-size: 18px;
    }
    .j_map_info p{
        font-size: 14px;
    }



    /*talent_strategy*/
    .j_talent_bottom p{
        width: auto;
        margin-bottom: 20px;
        color: #333;
        margin-top: 0;
    }
    .j_talentbox{
        padding-right: 0;
        padding-left: 0;
    }
    .j_talentbox .j_case_classification{
        height: 97px;
        white-space: normal;
    }
    .j_productbox .j_case_classification{
        height: 76px;
        white-space: normal;
    }
    .j_mapbox .j_case_classification{
        height: 76px;
        white-space: normal;
    }
    .j_talentbox .Breadcrumbs{
        margin-bottom: 40px;
    }
    .j_talent_box2 .left{
        width: 100%;
        padding-right: 0;
    }
    .j_talent_box2 .right{
        width: 100%;
        padding-left: 0;
    }
    .j_talent_bottom{
        height: auto;
        padding: 0;
    }
    .j_talent_bottom h3{
        font-size: 28px;
        margin-top: 15px;
        margin-bottom: 5px;
        color: #333;
        font-size: 20px;
        font-weight: 600;
    }
    .j_talent_bottom div{
        position: static;
    }
    


    /*campus_recruiting*/
    .j_campus_title span:first-child{
        width: auto;
        padding-bottom: 10px;
    }
    .j_campus_title .right{
        display: none;
    }
    .j_campus_title span:nth-child(2){
        width: auto;
    }
    .j_campus_desc span:last-child{
        display: inline-block;
    }
    .j_campus_cont1{
        width: 100%;
        padding-right: 0;
    }
    .j_campus_cont2{
        width: auto;
        padding-top: 20px;
    }
    .j_campus_box .am-panel-hd{
        padding: 15px 20px;
    }
    .j_campus_desc{
        margin-top: -10px;
    }
    .j_campus_box .am-panel-collapse{
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .j_campus_cont1 span{
        font-size: 14px;
    }
    .j_campus_cont2 span{
        font-size: 14px;
    }
    .j_campus_box .j_detail1{
        margin:auto;
        margin-top: 30px;
    }
    .j_campus_title{
        font-size: 14px;
        position: relative;
    }
    .j_campus_desc{
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .j_campus_cont1 span{
        font-size: 14px;
        font-weight: 800;
    }
    .j_campus_cont1{
        font-size: 14px;
    }
    .j_campus_cont2{
        font-size: 14px;
    }
    .j_campus_cont2 span{
        font-weight: 800;
    }
    .j_campus_title span:first-child{
        display: block;
        font-size: 16px;
    }
    .j_campus_title span:nth-child(2){
        display: block;
    }
    .j_campus_title span{
        display: block;
    }
    .j_campus_desc span:first-child{
        display: block;
    }
    .j_campus_desc span:nth-child(2){
        display: block;
    }
    .j_campus_desc span:last-child{
        display: block;
    }
    .j_campus_title .right{
        display: block;
        position: absolute;
        top: 25px;
        right: 0;
    }






    /*intellectual_property*/
    .j_intellectual_box2 div{
        width: 100%;
    }
    .j_intellectual_box3 .n_wrap div{
        width: 100%;
    }
    .j_intellectual_box{
        margin-right: -15px;
        margin-left: -15px;
        height: auto;
        padding:20px;
        margin-bottom: 50px;
    }
    .j_intellectual_infobox{
        float: none;
        width: auto;
        height: auto;
        padding:30px;
        position: static;
        padding-right: 0;
        padding-left: 0;
    }
    .j_intellectual_box3{
        height: auto;
        margin-top: 30px;
        padding-bottom: 55px;
    }
    .j_intellectual_box3 .n_wrap div:first-child{
        text-align: center;
        padding-right: 0;
    }
    .j_intellectual_box3 .n_wrap div:last-child{
        text-align: center;
        padding-left: 0;
        box-shadow: none;
    }
    .j_intellectual_box3 .n_wrap div:nth-child(2) p{
        padding-right: 0;
    }
    .j_intellectual_box3 .n_wrap div:first-child p{
        padding-right: 0;
    }
    .j_intellectual_box3 .am-slider-a1 .am-control-nav{
        bottom: -35px;
    }
    .j_intellectual_box3 .am-slider-a1 .am-control-nav li a.am-active{
        background-color: #be2025;
    }




    /*research_overview*/
    .j_research_box ul{
        width: 100%;
        margin-top: 35px;
    }
    .j_research_box p{
        width: 100%;
    }
    .j_researchbox{
        padding:0;
    }
    .j_research_box ul li img:nth-child(2){
        display: none;
    }
    .j_research_box ul li{
        width: 25%;
        margin-bottom: 20px;
    }
    .j_research_box ul li img:first-child{
        width: 40px;
        height: 40px;
    }
    .j_research_box ul li p{
        font-size: 16px;
        margin-top: 5px;
        width: 100%;
    }
    .j_research_box{
        padding-top: 40px;
    }
    .j_research_box ul li div{
        width: 100%;
    }
    .j_research_line{
        display: none;
    }
    .j_research_box h3{
        font-size: 32px;
    }
    .j_research_box2 h3{
        font-size: 32px;
        margin-bottom: 40px;
    }
    .j_research_box3 h3{
        font-size: 30px;
        padding-top: 60px;
        margin-bottom: 40px;
    }
    .j_research_box2 ul li{
        width: 100%;
        margin-right: 0;
        float: none;
    }
    .j_research_box2 .n_wrap{
        padding:0 15px;
    }
    .j_research_box2{
        margin:0 -15px;
    }
    .j_research_box2_img img{
        width: 100%;
    }
    .j_research_box2{
        background-repeat: repeat-y;
        height: auto;
        padding: 60px 0;
    }
    .j_research_box2 h4{
        padding-top: 20px;
        margin-bottom: 10px;
    }
    .j_research_box2_text{
        height: 155px;
    }
    .j_research_box2 p{
        -webkit-line-clamp:2;
    }
    .j_research_box3 ul li{
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .j_research_box3 ul li:last-child{
        margin-bottom: 0;
    }
    .j_research_box3{
        padding:0;
    }
    .j_research_box3_img img{
        width: 100%;
    }
    .j_research_box3 .am-slider-a1{
        box-shadow: none;
    }
    .j_groupbox .am-u-lg-4:hover{
        box-shadow: none;
        background-color: transparent;
    }



    /*technoliaical_achievements*/
    .j_pc{
        display: none;
    }
    .j_sj{
        display: block!important;
    }
    .j_technological_box5 ul{
        width: 100%;
    }
    .j_technological_box6 p{
        width: 90%;
        top: 465px;
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp:3;
        -webkit-box-orient: vertical;
        font-size: 18px;
        line-height: 30px;
    }
    .j_technologicalbox{
        padding:0;
    }
    .j_technological_box_1{
        width: 100%;
        margin-right: 0;
    }
    .j_technological_box_1 p{
        margin-top: 15px;
        margin-bottom: 45px;
        font-size: 20px;
    }
    .j_technological_box2 ul li{
        width: 100%;
    }
    .j_technological_box2{
        height: auto;
        padding: 60px 0;
    }
    .j_technological_box2 .n_wrap h3{
        margin-bottom: 30px;
        font-size: 20px;
    }
    .j_technological_box2 ul li{
        margin-right: 0;
        margin-bottom:20px;
    }
    .j_technological_box2 ul li:last-child{
        margin-bottom:0;
    }
    .j_technological_box3 .n_wrap{
        padding: 0;
    }
    .j_technological_box3 .n_wrap .am-u-lg-6:last-child{
        padding-top: 30px;
        padding-left: 0;
    }
    .j_technological_box3 h3{
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 0;
        margin-top: 15px;
    }
    .j_technological_box3 p{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 24px;
    }
    .j_technological_box{
        margin:40px 0;
    }
    .j_technological_box4_lb .am-direction-nav{
        display: none;
    }
    .j_technological_box4{
        margin:0 -15px;
        padding: 50px 0;
    }
    .j_technological_box4 h3{
        font-size: 20px;
        line-height: 30px;
        padding: 0 45px;
        margin-bottom: 35px;
    }
    .j_technological_box4 .n_wrap{
        padding:0 15px;
    }
    .j_sj .j_technological_box4_lb ul li{
        margin-right: 0!important;
    }
    .j_technological_box5 h3{
        font-size: 20px;
        line-height: 30px;
        padding: 0 50px;
        margin-bottom: 35px;
    }
    .j_technological_box5 ul li{
        margin-right: 0;
        width: 100%;
        margin-bottom: 20px;
    }
    .j_technological_box5 ul li:last-child{
        margin-bottom: 0;
    }
    .j_technological_box5 ul li img{
        width: 100%;
    }
    .j_titleline{
        display: none;
    }
    .j_technological_box .am-slider-a1{
        box-shadow: none;
    }
    .j_technological_box .am-slider-a1 .am-control-nav li a.am-active{
        background-color: #be2025;
    }
    .j_technological_box2 .am-slider-a1 .am-control-nav{
        bottom: -15px;
    }
    .j_technological_box2 .am-slider-a1 .am-control-nav li a.am-active{
        background-color: #be2025;
    }
    .j_technological_box3{
        height: auto;
        padding: 30px 0;
    }
    .j_technological_box5{
        padding: 50px 0;
    }
    .j_technological_box5 .am-slider-a1 .am-control-nav{
        bottom: -10px;
    }
    .j_technological_box5 .am-slider-a1{
        box-shadow: none;
    }
    .j_technological_box5 .am-slider-a1 .am-control-nav li a.am-active{
        background-color: #be2025;
    }




    /*industry_norms*/
    .j_industry_box{
        padding-top: 40px;
    }
    .j_industry_box .n_wrap{
        padding:0;
    }
    .j_industry_infobox {
        padding:40px 20px;
    }
    .j_industry_infobox h3{
        font-size: 24px;
        margin-bottom: 0;
    }
    .j_industry_infobox p{
        margin-bottom: 15px;
    }


    /*corporate_logo*/
    .j_corporate_infobox{
        width: 100%;
        padding:30px;
        height: auto;
    }
    .j_corporate_box .n_wrap{
        padding:0;
    }
    .j_corporate_infobox p{
        margin-top: 20px;
    }
    .j_corporate_imgbox{
        width: 100%;
        margin-right: 0;
    }
    .j_corporate_infobox h3{
        font-size: 20px;
    }
    .j_video-img{
        display: none;
    }

    /*value_concept*/
    .j_value_box .n_wrap{
        padding:0;
    }
    .j_value_videobox ul li .right{
        padding-left:20px;
        width: 100%;
    }
    .j_value_videobox ul li .left{
        width: 100%;
        padding-left: 20px;
    }
    .j_value_videobox ul li+li{
        margin-top: 20px;
    }

    /*contact*/
    .j_contact_info{
        position: static;
        width: 100%;
        margin-top: 20px;
        height: auto;
        padding: 30px;
    }
    .j_caotactbox{
        padding:0;
    }
    .j_contact_map{
        height: 300px;
    }
    .j_contact_info p{
        font-size: 16px;
        line-height: 30px;
    }
    .j_contact_info1 img{
        position: static;
    }
    .j_contact_info2 img{
        position: static;
    }
    .j_contact_info1 .left:first-child{
        position: relative;
        left: -40px;
        top: 26px;
    }
    .j_contact_info1{
        margin-top: 30px;
        padding-left: 40px;
    }
    .j_contact_info2{
        margin-top: 0;
        padding-left: 40px;
    }
    .j_contact_info2 .left:first-child{
        position: relative;
        left: -40px;
        top: 26px;
    }
    
    /*product_details*/
    .j_produ_details_lb{
        width: 100%;
        padding-right: 0;
        height: auto;
    }
    .j_produ_details_cont{
        width: 100%;
        padding-left: 0;
        height: auto;
    }
    .j_produ_details_conts{
        margin-top: 0;
    }
    .j_produ_details_cont h3{
        text-align: center;
        font-size: 20px;
        padding-top: 30px;
        margin-bottom: 20px;
    }
    .j_protable1 li{
        line-height: 30px;
    }
    .j_protable3 li{
        line-height: 30px;
    }
    .j_protable4 li{
        line-height: 30px;
    }
    .j_protable5{
        padding-top: 0;
    }
    .j_produ_details_cont ul>li:first-child{
        width: 23%;
        margin-left: 0;
        font-size: 14px;
    }
    .j_produ_details_cont ul>li:nth-child(2){
        width: 38%;
        font-size: 14px;
    }
    .j_produ_details_cont ul>li:nth-child(3){
        width: 25%;
    }
    .j_protable2 p{
        padding-left: 0;
        margin-top:10px;
    }
    .j_produ_details_lb .am-slider-b1 .am-direction-nav a{
        top: 54%;
    }
    .j_produ_details_cont p{
        margin-bottom: 20px;
        font-size: 14px;
    }
    .j_prodetbox h3{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .j_produ_details{
        padding-bottom: 50px;
    }
    .j_dettext_center{
        padding-bottom: 30px;
    }
    .j_song_box .n_wrap{
        padding: 0;
    }
    .j_song_txtbox h3{
        font-size: 22px;
        margin-bottom: 35px;
    }
    .j_song_txtbox{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .j_song_txtbox h4{
        font-size: 20px;
    }


    /*company_history*/
    .j_history_tab .am-nav-tabs{
        height: 267px;
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
    }
    .j_history_tab .am-nav > li{
        margin:0;
        float: none;
        display: inline-block;
    }
    .j_history_tab .am-slider .am-slides img{
        width: 100%;
    }
    .j_history_tab .am-tabs-bd .am-tab-panel{
        padding-left: 0 ;
        padding-right: 0;
    }
    .j_history_lbcont{
        padding-left: 0;
        width: 100%;
        padding-right: 0;
    }
    .j_history_lbcont h3{
        padding-top: 0;
        text-align: center;
    }


    /*innovation_system*/
    .j_innovation_cenimg{
        padding: 0 15%;
    }
    .j_innovation_box2 ul li div h3{
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 0;
    }
    .j_innovation_box2 ul li div p{
        font-size: 16px;
        line-height: 16px;
        margin-top:0;
        margin-bottom: 0;
    }
    .j_innovation_box2 ul li:first-child{
        right: 30px;
        top: 145px;
    }
    .j_innovation_box2 ul li div:first-child{
        width: 70px;
        height: 70px;
        float: none;
        margin:auto;
    }
    .j_innovation_box2 ul li div img{
        top: calc(50% - 15px);
        left: calc(50% - 15px);
        width: 30px;
        height: 30px;
    }
    .j_innovation_box2 ul li:first-child div:nth-child(2){
        padding-top: 0;
        padding-left: 0;
        float: none;
    }
    
    .j_innovation_box2 ul li:nth-child(2){
        right: 80px;
        top: 295px;
    }
    .j_innovation_box2 ul li:nth-child(2) div:nth-child(2){
        padding-top: 0;
        padding-left: 0;
    }
    .j_innovation_box2 ul li:nth-child(3){
        left: 80px;
        top: 295px;
    }
    .j_innovation_box2 ul li:nth-child(3) div:nth-child(2){
        padding: 0;
    }
    .j_innovation_box2 ul li:nth-child(4) div:nth-child(2){
        padding: 0;
    }
    .j_innovation_box2 ul li:nth-child(4){
        top: 145px;
    }
    .j_innovation_box2 ul li:nth-child(5) div:nth-child(2){
        padding: 0;
    }
    .j_innovation_box2 ul li:nth-child(5){
        left: 140px;
        top: 50px;
    }
    .j_innovation_box{
        height: auto;
        margin-bottom: 0;
    }
    .z_company_leaders_cn.j_sj ul.leaders_a li{
        margin-left: 0;
    }



    .z_web_information_tip .j_am-dropdown-up{
        width: 100%;
    }
    .z_web_information_tip .j_am-dropdown-up .am-dropdown-content{
        width: 100%;
    }

    /*index*/
    .j_index_tab2 .j_width-1-3{
        width: 100%;
    }
    .j_index_tab2 .j_width-1-3+.j_width-1-3{
        margin-top: 15px;
    }
    .j_tab2_cont1 h4{
        font-size: 16px;
    }
    .j_tab2_cont1 p{
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .j_tab2_cont1{
        background-color: rgba(10,10,10,.4);
    }

    .j_index_tab3 .j_tab3_tab{
        float: none;
    }
    .j_tab3_tab li{
        width: 31%;
        float: left;
        height: 40px;
        margin-left: 2%;
        margin-bottom: 2%;
    }
    .j_tab3_tab li+li{
        margin-top: 0;
    }
    .news_index .am-tabs-bd .am-tabs .j_tab3_tab li a{
        line-height: 40px;
        font-size: 14px;
    }
    .j_index_tab3 .am-tabs-bd .am-tab-panel{
        padding-left: 0!important;
    }
    .j_index_tab3 .am-tabs-bd .j_width-1-3{
        width: 100%;
        margin-top: 10px;
    }
    .z_Content.j_sj.am-slider .am-slides img{
        margin:auto;
        width: auto;
    }
    .z_Content.j_sj.am-slider.am-slider-a1 .am-control-nav li a.am-active{
        background-color: #0054aa;
    }
    .z_Content.j_sj.am-slider.am-slider-a1 .am-control-nav li a{
        background-color: #fff;
    }
    .n_search .search_t{
        padding: 3% 0;
    }
    .n_search .search_t input{
        width: calc(100% - 140px);
    }
    .j_content_w .n_search{
        padding-top: 0;
    }
    #tab1 .news_index_lt .z_title{
        font-size: 16px;
        line-height: 16px;
    }
    .news_index .news_index_r ul li:hover a{
        transform: translateX(0);
    }
    .am-slider .am-slides.j_company_profile_touch li div img{
        width: 50px;
        margin:auto;
    }
    .am-slider .am-slides.j_company_profile_touch li{
        text-align: center;
    }
    .am-slider .am-slides.j_company_profile_touch li p{
        color: #fff;
        margin:0;
        padding: 0 30px;
    }
    .j_index_tab2 ul li{
        padding: 10px 0;
    }
    .j_index_tab3 .am-tabs-bd ul li{
        padding: 10px 0;
    }
    .j_index_tab2 ul li span{
        display: block;
    }
    .j_index_tab2 ul li p{
        width: 100%;
    }
    .j_company_profile_touch1 .am-slider-b1 .am-direction-nav a{
        top: 50%;
        background-color: transparent;
    }
    .search_list p{
        width: 100%!important;
    }
    .search_list span{
        display: none;
    }
    .j_produ_img img{

        max-width: none;

    }
    .j_produ_img{
        height: auto;
    }
    .j_productbox.n_wrap{
        padding: 0;
    }
    .z_web_information_tip .am-btn{
        margin-right: 0!important;
    }
    .j_index_tab3 .am-tabs-bd ul li span{
        display: block;
    }
    .j_index_tab3 .am-tabs-bd ul li p{
        width: 100%;
    }
    .j_value_videobox ul li h3{
        font-size: 22px;
        margin-bottom: 16px;
    }
    .j_value_videobox ul li p{
        font-size: 14px;
        line-height: 26px;
    }
    .j_value_videobox ul li .right span{
        font-size: 18px;
    }
    .j_value_videobox ul li{
        height: 300px;
    }
    .j_value_videobox ul li .left{
        height: 300px;
    }
    .j_value_videobox ul li .right{
        height: 300px;
    }
    .j_value_videobox_cont{
        bottom: 40px;
    }
    .j_talent_box2 .left p{
        padding: 0;
        margin-bottom: 20px;
    }
    .j_talent_box2 .right p{
        padding: 0;
        margin-bottom: 20px;
    }
    .j_talent_text1{
        margin-bottom: 20px;
    }
    /*1229*/
    .j_group_left{
        width: 100%;
    }
    .j_worldmap_box{
        margin-top: 20px;
    }


















































}










@media(max-width: 1680px) and (min-width: 1279px){
    .j_newsbox .j-grid .am-u-lg-4.j_newlbox{
        width: 441px;
    }
    .j_newsbox .j-grid .am-u-lg-8.newltext{
        width: calc(100% - 485px);
    }


    .j_groupbox .j-grid .j_marf25{
        margin-left: 0;
        margin-right: 0;
    }
    .j_groupbox .j-grid{
        padding:0 15px;
    }
    .j_group_thumb{
        height: auto;
    }
    .j_newscont1{
        width: 66%;
    }
    .j_newscont2{
        width: 30%;
    }
    .j_column_title5 h4{
        padding-bottom: 0;
        margin-bottom: 60px;
    }
    .j_talent_box2 .left{
        padding-right: 4.6%;
    }
    .j_talent_box2 .right{
        padding-left: 4.6%;
    }


    /*intellectual_property*/
    .j_intellectual_box2 div{
        width: 27.63%;
        margin-right: 8.55%;
    }
    .j_intellectual_box2 div:last-child{
        margin-right: 0;
    }
    .j_intellectual_box3 .n_wrap div{
        width: 27.63%;
        margin-right: 8.55%;
    }
    .j_intellectual_box3 .n_wrap div:last-child{
        margin-right: 0;
    }
    .j_group_news1{
        padding:0 40px;
        overflow: hidden;
    }
    .j_group_news1>div{
        overflow: hidden;

    }
    
}



@media(max-width: 767px) and (min-width: 410px){
    .j_contact_info1 .left:first-child{
        top: 0;
        left: -20px;
    }
    .j_contact_info2 .left:first-child{
        top: 0;
        left: -20px;
    }
    .j_contact_info1{
        padding-left: 25px;
    }
    .j_contact_info2{
        padding-left: 25px;
    }
}




@media(max-width: 414px){
    .j_produ_img{
        max-height: 289px;
    }
}
@media(max-width: 375px){
    .j_produ_img{
        max-height: 265px;
    }
    .j_case_classification a{
        font-size: 14px;
    }
}
@media(max-width: 320px){
    .j_produ_img{
        max-height: 213px;
    }
    
}