
/*header*/

header .j-navbar-right .j-navbar-nav>li{
    height: 55px;
    float: left;
    padding: 0 25px;
}
header .j-navbar-right .j-navbar-nav>li>a{
    font-size: 18px;
    height: 55px;
    line-height: 40px;
    display: block;
    color: #000;
    position: relative;
}
header .j-navbar-right .j-navbar-nav>li.active>a:after{
    content: "";
    border-bottom: 3px solid #be2025;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.j_nav{
    background: #fff;
    height: 100px;
}

.j_language{
    width: 150px;
    height: 30px;
    position: absolute;
    top: -20px;
    right: 30px;
}
.j_language button{
    width: 150px;
    height: 30px;
    padding: 0;
    font-size: 14px;
    border:0;
    background-color: transparent;
}
.j_language div a{
    color: #000;
}
.j_nav_bar{
    width: 100%;
}
.j-navbar-left{
    float: left;
    height: 100px;
}
.j-navbar-right{
    float: right;
    height: 100px;
}
.j-logo{
    line-height: 100px;
}
.j-navbar-nav{

    margin:0;
    padding: 0;
    list-style:none;
}
.j-navbar-nav>li{
    position: relative;
}

.j-navbar-dropdown {
    display: inline-block;
    opacity: 0;
    position: absolute;
    background: #f3f3f3;
    padding:0;
    min-width:530px;
    overflow: hidden;
    height: 0;
    color: #666;
    left: -270px;
    z-index: 9;
    transition: All 0.3s ease-in-out;
    -webkit-transition: All 0.3s ease-in-out;
    -moz-transition: All 0.3s ease-in-out;
    -o-transition: All 0.3s ease-in-out;
    pointer-events: none;
}
.j-navbar-dropdown-nav {
    margin: 0;
    padding: 0 0 0 11px;
    display: inline-block;
    list-style: none;
    font-size: .875rem;
    width: 226px;
}
.z_navbar-img{
    width: 204px;
    height: 197px;
    margin-right: 15px;
    overflow-y: hidden;
}
.z_navbar-img img{
    width: 100%;
}
.j-navbar-dropdown-nav>li{
    overflow: hidden;
    height: 39px;
    float: left;
    transition: All 0.3s ease-in-out;
    -webkit-transition: All 0.3s ease-in-out;
    -moz-transition: All 0.3s ease-in-out;
    -o-transition: All 0.3s ease-in-out;
}
header .j-navbar-right .j-navbar-nav>li:hover .j-navbar-dropdown{
    opacity: 1;
    padding: 35px 35px 35px 50px;
    height: 268px;
    pointer-events:auto;
}
.j-navbar-dropdown-nav>li.active>a {
    color: #333;
}
.j-navbar-dropdown-nav>li>a {
    width: 106px;
    line-height: 39px;
    text-align: center;

    font-size: 16px;
    display: inline-block;
    white-space:nowrap;
    color: #000;
}
.j-navbar-dropdown-nav>li:hover{
    background: #be2025;

}
.j-navbar-dropdown-nav>li:hover a{
    color: #fff;
}
.z-navbar-top{
    width: 100%;
    height: 45px;
}
.z-navbar-top-right{
    float: right;
}
.z-navbar-top-right select{
    outline:none;
    font-family: Arial;
    border: none;
    font-size: 14px;
    height: 45px;
    padding-left: 14px;
    background: url("../images/earth.png") no-repeat left center;
}


/*index*/

/*swiper*/
.banner .swiper-container{
    height:calc(100vh - 100px);
}
.banner_touch .swiper-container{
    height:calc(100vh - 100px);
}

.banner .pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom:45px;
    width: 100%;
}
.banner_touch .pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom:45px;
    width: 100%;
}
.banner .swiper-pagination-switch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,.5);
    margin: 3px 5px;
    cursor: pointer;
}
.banner_touch .swiper-pagination-switch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,.5);
    margin: 3px 5px;
    cursor: pointer;
}
.banner .swiper-active-switch {
    margin: 0 5px;
    background: none;
    border: 3px solid #c50538;
    box-sizing: content-box;
}
.banner_touch .swiper-active-switch {
    margin: 0 5px;
    background: none;
    border: 3px solid #c50538;
    box-sizing: content-box;
}
.banner .swiper-slide{
    position:relative;
    opacity:0;
    pointer-events: none;
}
.banner_touch .swiper-slide{
    position:relative;
    opacity:0;

}
.banner .swiper-slide-active{
    opacity:1;
    pointer-events: auto;
}
.banner_touch .swiper-slide-active{
    opacity:1;
}
.banner .swiper-slide .img{
    position:absolute;
}
.banner_touch .swiper-slide .img{
    position:absolute;
}
.banner .wrap{
    position: relative;
}
.banner_touch .wrap{
    position: relative;
}
.banner .ani{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: inline-block;
}
.banner_touch .ani{
    position: absolute;
    top: 45%;
    display: inline-block;
}
.banner .ani .z_hr{
    width: 100%;
    height: 1px;
    margin-top: 10px;
    border-bottom: 1px solid #fff;
}
.banner_touch .ani .z_hr{
    width: 100%;
    height: 1px;
    margin-top: 10px;
    border-bottom: 1px solid #fff;
}
.j_map_info p span.z_map_span{
    display: block;
    width: 70%;
    text-align: left;
    margin-left: 10px;

}
.z_history_lbimg{
    width: 50%;
    float: left;
    height: 602px;
    text-align: center;
    line-height: 602px;
    overflow: hidden;
}
.z_history_lbimg img{
    width: 70% !important;
    display: inline-block !important;
}
.j_map_info p{
    display: block;
    width: 100%;
    overflow: hidden;
}
.j_map_info p span{
    float: left;
    line-height: 31px;
}
.j_map_info p span img{
    display: inline-block;
}
.banner .ani .z_title{
    font-size: 72px;
    color: #fff;
}
.banner .ani .z_title2{
    font-size: 72px;
    color: #fff;
}
.j_index_tab2 .j_width-1-3>div>a{
    min-height: 138px;
    display: block;
}
.banner_touch .ani .z_title{
    font-size: 72px;
    color: #fff;
}
.banner .ani .z_describe{
    color: #fff;
    margin-top: 15px;
}
.banner .ani .z_describe p{
    margin: 0;
    margin-bottom: 5px;
}
.slide1 .s1{left: 50%;margin-left: -425.5px;top: 200px;}

.loop{
    animation-iteration-count: infinite;/*无限*/
    animation-timing-function:linear;/*平滑*/
}
.targetBtn {
    margin-top: 20px;
    position: absolute;
    bottom: 60px;
    left: 352px;
    z-index: 999;
}
.targetBtn a{
    height:50px;
    border-radius:50px;
    background:rgba(0,0,0,.5);
    float:left;
    line-height:50px;
    text-align:center;
    color:#fff;
    text-decoration:none;
}
.targetBtn .a1{
    width:110px;
}
.targetBtn .a2{
    width:170px;
    margin-left:15px;
}
.banner .swiper-slide{

    background-size: cover !important;
}
.banner .swiper-slide video{
    width: 100%;
}
/*bannerend*/

.data_top{
    width: 100%;
    padding:136px 0;
    overflow: hidden;
}
.data_top .data_a1{
    float: left;
    display: inline-block;
    width: 25%;

}
.data_top .data_a1:nth-child(3){
    padding-left: 10px;
}
.data_top .data_a1:nth-child(4){
    text-align: left;
    padding-left: 10%;
}
.data_top .data_a1 .data_a1_t{
    font-size: 80px;
    font-weight: 100;
    color: #ce0000;

}
.data_top .data_a1 .data_a1_b{
    font-size: 14px;
    color: #000;
}
.ProductCenter{
    padding: 115px 0;
    background-size: cover !important;
    background: url("../images/cpbg.jpg") no-repeat center #060e23;
}
.ProductCenter_C{
    width: 980px;
    margin: 0 auto;
}
.ProductCenter .z_Title{
    text-align: center;
    color: #fff;
    overflow: hidden;
    margin-bottom: 30px;
}
.ProductCenter .z_Title h1{
    font-size: 36px;
    color: #fff;
    font-weight: normal;
}
.ProductCenter .z_Title p{
    font-size: 14px;
    line-height: 30px;
    color: rgba(255,255,255,.66);
    font-weight: 200;
}

.z_Content ul li{
    width: 300px;
    height: 260px;
    float: left;
    margin-right: 40px;
    margin-bottom: 30px;
    border: 1px solid rgba(0,107,211,0);
    transition: All 0.3s ease-in-out;
    -webkit-transition: All 0.3s ease-in-out;
    -moz-transition: All 0.3s ease-in-out;
    -o-transition: All 0.3s ease-in-out;
    background: url("../images/Product_wk.png") no-repeat center;
}
.z_Content ul li:hover{
    background: none;
    border: 1px solid rgba(0,107,211,1);
    box-shadow: 0 0 20px #006bd3;

}
.z_Content ul li a{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.z_Content ul li a .z_Content_s{
    margin-top: 12px;
}
.z_Content ul li a .z_cp_bg{
    display: block;
    position: absolute;
    width: 300px;
    height: 260px;
    overflow: hidden;
    z-index:-1;
    bottom: -330px;
    transition: All 0.3s ease-in-out;
    -webkit-transition: All 0.3s ease-in-out;
    -moz-transition: All 0.3s ease-in-out;
    -o-transition: All 0.3s ease-in-out;
}
.z_Content ul li a .z_cp_bg img{
    height: 100%;
    max-width: none;
}
.z_Content ul li a:hover .z_cp_bg{
    bottom: 0;
}
.z_Content ul li a span{
    display: inline-block;
    width: 100%;
}
.z_Content ul li a .z_Content_t{
    margin-top: 60px;
    width: 65px;
    height: 65px;
    text-align: center;
    overflow: hidden;
}
.z_Content ul li a .z_Content_s{

    font-size: 24px;
    color: #fff;
}
.z_Content ul li a .z_Content_b{
    font-size: 14px;
    color: #fff;
}
.z_Content ul li:nth-child(3n+0){
    margin-right: 0;
}
.news_index{
    padding: 115px 0;
    text-align: center;
}
.news_index [data-am-widget='tabs'] .am-tabs-nav{
    width: auto;
}
.news_index [data-am-widget='tabs'] .am-tabs-nav a{
    overflow: inherit;
}
.index_title_ty{
    font-size: 36px;
    font-family: SourceHanSansCN;
    font-weight: normal;
    text-align: center;
}
.news_index .am-nav{
    display: inline-block;
    border-bottom: 0;
    margin-bottom: 38px;
}
.news_index .am-nav li{
    color: #888888;
}
.news_index .am-nav li a{
    font-size: 24px;
    color: #888888;
    font-family: SourceHanSansCN;
    font-weight: 200;
    display: inline-block;
    border: none;
    background: none;
    padding: 0;
    margin: 15px 20px;
}
.news_index .am-nav li.am-active a{
    color: #0054aa;
    background: none;
    border: none;
    font-weight: normal;
    border-bottom: 3px solid #0054aa;
}
.news_index .am-tabs-bd{
    border: none;
}
.news_index .am-tabs-bd>div{
    padding: 0;
}
.news_index .news_index_l{
    position: relative;
    width: 884px;
    overflow: hidden;
}
.news_index .news_index_lt{
    position: absolute;
    z-index: 5;
    text-align: left;
    bottom: 38px;
    left: 38px;
}
.news_index .news_index_lt .z_data{
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    display: block;
}
.news_index .news_index_lt .z_title{
    margin: 0;
    margin-top: 15px;
    font-size: 24px;
    color: #fff;
    font-weight: normal;
    line-height: 30px;
    display: block;
    width: 100%;
    margin-bottom: 24px;
    overflow : hidden;
    position: relative;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.news_index .news_index_lt .z_hr{
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #fff;
}
.news_index .news_index_lt .z_describe{
    font-size: 14px;
    display: block;
    color: #fff;
    font-weight: normal;
    line-height: 30px;
    margin-top: 10px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.news_index .news_index_r{
    max-width: 600px;
}
.news_index .news_index_r ul li{
    overflow: hidden;
    border-bottom: 1px solid #c1c1c1;
}
.news_index .news_index_r ul li a{
    display: block;
    padding: 17px 0;
    overflow: hidden;
}
.news_index .news_index_r ul li:nth-child(1) a{
    padding-top: 0;
}
.news_index .news_index_rr{
    max-width: 330px;
    text-align: left;
    padding-left: 22px;
    padding-right: 40px;
}
.news_index .news_index_rr .z_data{
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #9a9a9a;
}
.news_index .news_index_rr .z_title{
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: normal;
    padding-left: 0;
}
.news_index_rl{
    width: 245px;
}
.news_index_rl img{
    width: 100%;
}
.z_index_news_c ul li{
    float: left;
    width: calc(33.33% - 30px);
    margin-right: 45px;
}
.z_index_news_c ul li:nth-child(3n+0){
    margin-right: 0;
}
.z_index_tab3_c ul li{
    width: calc(50% - 23px);
    margin-right: 45px;
    float: left;
}
.z_index_tab3_c ul li:nth-child(2n+0){
    margin-right: 0;
}
.index_more_ty{
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.index_more_ty a{
    margin-top: 52px;
    background: #be2025;
    text-align: center;
    line-height: 43px;
    color: #fff;
    width: 174px;
    height: 43px;
    display: inline-block;
}
.investor{
    padding: 115px 0;
    background: url("../images/investorbg.jpg") no-repeat center;
    background-size: cover !important;
}
.investor_wrap{
    margin-top: 42px;
    overflow: hidden;
}
.investor_l{
    max-width: 730px;
}
.investor_r{
    max-width: 730px;
}
.investor_lt{
    font-size: 24px;
    line-height: 30px;
    color: #333;
    padding-bottom: 12px;
    display: inline-block;
    border-bottom: 3px solid #0054aa;
}
.investor_lb .investor_lbl .investor_lblt{
    max-width: 338px;
    max-height: 449px;
}
.investor_lb .investor_lbl .investor_lblb{
    max-width: 338px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.investor_lblb{
    margin-top: 30px;
    font-size: 24px;
    color: #000;
}
.investor_lb{
    margin-top: 48px;
}
.investor_lbr{
    max-width: 353px;
    margin-left: 39px;
}
.investor_lbr>ul>li{
    overflow: hidden;
    padding-top: 19px;
    padding-bottom: 18px;
    border-bottom: 1px solid #c1c1c1;
}
.investor_lbr>ul>li:nth-child(1){
    padding-top: 0;
}
.investor_lbr>ul>li span{
    display: block;
}
.investor_lbr>ul>li span.z_data{
    font-size: 14px;
    color: #9a9a9a;
}
.investor_lbr>ul>li span.z_title{
    font-size: 18px;
    color: #000;
    line-height: 24px;
    margin-top: 7px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

}
.investor_lbt>ul>li{
    float: left;
    width: 347px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-left:36px;
    border-bottom: 1px solid #c1c1c1;
}
.investor_lbt>ul>li:nth-child(odd){
    margin-left: 0;
}
.investor_lbt>ul>li:nth-child(1){
    padding-top: 0;
}
.investor_lbt>ul>li:nth-child(2){
    padding-top: 0;
}
.investor_lbt>ul>li span{
    display: block;
}
.investor_lbt>ul>li span.z_data{
    font-size: 14px;
    color: #9a9a9a;
}
.investor_lbt>ul>li span.z_title{
    font-size: 18px;
    color: #000;
    line-height: 24px;
    margin-top: 7px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.investor_lbt{
    overflow: hidden;
}
.investor_lb{
    overflow: hidden;
}
.j_newsbox .j-grid .am-u-lg-4{
    float: left;
}
.j_tab2_cont1 p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.investor_lbb{
    overflow: hidden;
    margin-top: 30px;
}
.investor_lbb img{
    width: 100%;
}
.investor_lbt ul li:nth-child(5){
    display: none;
}
.investor_lbt ul li:nth-child(6){
    display: none;
}
ul.am-dropdown-content > li > a{
    font-size: 14px;
}
.index_other{
    overflow: hidden;
}
.j_group_left{
    max-width: 993px;
}
.index_other_a{
    width: 32%;
    position: relative;
    margin-right: 2%;
}
.index_other_a:nth-child(3){
    margin-right: 0;
}
.index_other_at{
    position: absolute;
    z-index: 9;
    color: #fff;
}
.index_other_ab{
    overflow: hidden;
    width: 100%;
    background: #000;
}
.index_other_ab img{
    width: 100%;
    opacity: .8;
    transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.index_other_a:hover .index_other_ab img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.index_other_at{
    padding: 90px 0 0 60px;
}
.index_other_at .z_title{
    font-family: SourceHanSansCN;
    font-size: 36px;
    font-weight: normal;
    line-height: 25px;
}
.index_other_at .z_title span{
    font-weight: bold;
    font-size: 36px;
    line-height: 25px;
}
.index_other_at .z_describe{
    font-size: 18px;
    line-height: 30px;
    margin-top: 25px;
}
.footer_text{
    padding:52px 0;
}
.z_web_information_tip{
    margin-bottom: 30px;
    height: 74px;
}
.web_information_box {
    height: 72px;
    line-height: 72px;
    border-top: 5px solid #0f4d77;
    font-size: 14px;
}
.web_information_box p{
    margin-bottom: 0;
}
.web_information_box .left a:first-child{
    padding-left: 20px;
    padding-right: 10px;
}
.web_information_box a{
    color: #000;
}
.web_information_box .right a{
    padding: 0 15px 0 10px;
}
.web_information_box .right span{
    display: inline-block;
    background: #000;
    height: 10px;
    width: 1px;
}

.z_web_information_tip .am-btn{
    width: 280px;
    height: 45px;
    margin-right: 35px;
    background: #f0f0f0;
}
.z_web_information_tip .am-dropdown-up{
    margin-top: 24px;
}
.z_web_information_tip .am-btn .am-icon-caret-up{
    margin-left: 100px;
    color: #0f4d77;
}
.z_web_information_tip .am-dropdown-up .am-dropdown-content{
    width: 89%;
}
.qrcode img{
    float: left;
}
.qrcode span{
    float: right;
    line-height: 73px;
    margin-left: 10px;
    font-size: 14px;
    color: #898989;
}

/*law*/
.law h3 {
    font-size: 16px;
    font-weight: bold;
}
.law p {
    text-indent: 2em;
}
.law_b{
    font-weight: bold;
}
/*mapsite*/
.mapsite dl {
    overflow: hidden;
    margin-bottom: 30px;
}
.mapsite dl dt {
    width: 175px;
    text-align: center;
    margin-right: -175px;
    background:#be2025;
    line-height: 44px;
    display: inline-block;

    float: left;
    position: relative;
    z-index: 5;
}
.mapsite dl dt a{
    color: #fff;
}
.mapsite dl dd {
    width: 100%;
    float: left;
}
.mapsite dl dd ul {
    overflow: hidden;
    margin-bottom: 0;
    margin-left: 200px;
}
.mapsite dl dd ul li {
    margin-right: 50px;
    float: left;
    line-height: 44px;
}
.mapsite dl dd a {
    color: #333;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.mapsite dl dd a:hover{
    color: #be2025;
}

/*search*/
.n_search {
    padding: 70px 0 0;
}

.search-part {
    padding: 3% 0 0;
}

.search_t {
    background: #f4f4f4;
    padding: 3% 15%;
    margin-bottom: 2%;
    overflow: hidden;
}

.search_t input,
.search_t button {
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    border: none;
    outline: none;
}

.search_t input {
    padding: 0 10px;
    width: calc(100% - 160px);
    float: left;
}

.search_t button {
    background: #be2025;
    color: #fff;
    width: 140px;
    float: left;
}

.search_p {
    color: #4c4c4c;
    padding: 2%;
}

.search_p span,
.search_p i {
    color: #be2025;
    font-style: normal;
}

.search_list li {
    overflow: hidden;
    padding: 0 2%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e6e6e6;
}

.search_list p {
    float: left;
    width: 78%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search_list p i {
    color: #BF0000;
    font-style: normal;
}

.search_list span {
    float: right;
    width: 135px;
    text-align: center;
    font-family: arial;
}

.search_list p a {
    color: #4c4c4c;
}

.search_list span {
    color: #999999;
}

/*technological*/
.j_innovation_infobox{
    border-bottom: 5px solid #be2025;
}
.j_intellectual_infobox{
    border-bottom: 5px solid #be2025;
}
.z_innovation_box{
    position: relative;
    width: 606px;
    height: 607px;
    margin: 0 auto;
}
.z_innovation_boxt{
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
}
.z_innovation_boxb{
    text-align: center;
}

/*companyProfile*/
.z_ad_about{
    background: #fff;
    overflow: hidden;
}
.z_company_profile_a{
    background: #fff;
    padding-top: 20px;
    padding-bottom:110px ;
}
.z_company_profile_a_box{
    position: relative;
}
.z_company_profile_a_infobox{
    position: absolute;
    width: 567px;
    height: 484px;
    top: calc(50% - 242px);
    padding: 90px 58px;
    background: #fff;
    z-index: 9;
    left: 92px;
}
.z_company_profile_a_infobox .z_title{
    font-size: 36px;
    color: #333;
    font-family: SourceHanSansCN;
    font-weight: normal;

}
.z_company_profile_a_infobox .z_hr{
    width:97px ;
    height: 3px;
    margin-top: 13px;
    margin-bottom: 54px;
    background: #0054aa;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.z_company_profile_a_box:hover .z_hr{
    width:30%;
}
.z_company_profile_a_infobox .z_describe{
    font-family: SourceHanSansCN;
    font-weight: normal;
    font-size: 16px;
    color:#333 ;
    line-height: 36px;
}
.z_company_profile_a_img{
    overflow: hidden;
    width: 1520px;
    height: 671px;

}
.z_company_profile_a_img img{
    transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.z_company_profile_a_box:hover .z_company_profile_a_img img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.z_company_profile_b_top h3{
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 30px;
    font-weight: normal;
}
.z_company_profile_b_top p{
    width: 790px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}
.z_company_profile_b{
    padding: 95px 0;
}
.z_company_profile_c{
    background: #fff;
    padding: 100px 0;
}
.z_company_profile_c_t{
    text-align: center;
    font-size: 36px;
    color: #333;
    font-weight: normal;
}
.z_company_profile_c_b{
    overflow: hidden;

}
.z_company_profile_c_b ul{
    padding-left: 5px;
}
.z_company_profile_c_b ul li{
    float: left;
    width: 253px;
    height: 358px;
    margin-left: -5px;
    position: relative;
    background: url("../images/ldhxbg.png") no-repeat;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.3s ease-in-out;
    -moz-transition: All 0.3s ease-in-out;
    -o-transition: All 0.3s ease-in-out;
}
.z_company_profile_c_b ul li .z_icon{
    width: 70px;
    height: 70px;
    position: relative;
    margin: 0 auto;
    margin-top: 73px;
}
.z_company_profile_c_b ul li .z_icon .z_icon_1{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 3;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.z_company_profile_c_b ul li .z_icon .z_icon_2{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.z_company_profile_c_b ul li .z_title{
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-top: 45px;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.z_company_profile_c_b ul li .z_number{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size:86px;
    font-family: Arial;
    font-weight: bold;
    line-height: 69px;
    color: #eeeeee;
}
.z_company_profile_c_b ul li:hover{
    background-position: bottom;
    z-index: 3;
}
.z_company_profile_c_b ul li:hover .z_icon_1{
    opacity: 0;
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
}
.z_company_profile_c_b ul li:hover .z_icon_2{
    opacity: 1;
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
}
.z_company_profile_c_b ul li:hover .z_title{
    color: #fff;
}
.z_company_profile_c_b{
    margin-top: 68px;
}
.z_company_profile_d{
    padding: 100px 0;
    overflow: hidden;
    background: url("../images/zjjbzbg.jpg") no-repeat center;
    background-size: cover !important;
}
.z_company_profile_d_t{
    width: 1147px;
    margin: 0 auto;
}
.z_company_profile_d_t h3{
    font-size: 36px;
    color: #fff;
    font-weight: normal;
    text-align: center;
}
.z_company_profile_d_t p{
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    margin-top: 40px;
    text-align: center;
}
.z_company_profile_d_b{
    width: 100%;
    margin-top: 45px;
}
.z_company_profile_d_b table{
    width: 100%;
}
.z_company_profile_d_b tr{
    overflow: hidden;
    display: block;
    min-height: 90px;
    padding: 10px 0;
    border-bottom: 1px solid #9799a0;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.z_company_profile_d_b tr:hover{
    background: #fff;
}
.z_company_profile_d_b tr:hover td{
    color: #333;
}
.z_company_profile_d_b .patent_ico{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin-top: 13px;
}
.z_company_profile_d_b .patent_ico img{
    width: 40px;
    height: 40px;
}
.z_company_profile_d_b .patent_ico .patent_ico_1,.z_company_profile_d_b .patent_ico .patent_ico_1g{
    position: absolute;
    top: 0;
    left: 0;
}
.z_company_profile_d_b .patent_ico .patent_ico_1{
    opacity: 1;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.z_company_profile_d_b tr:hover .patent_ico_1{
    opacity: 0;
}
.z_company_profile_d_b .patent_ico .patent_ico_1g{
    opacity: 0;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.z_company_profile_d_b tr:hover .patent_ico_1g{
    opacity: 1;
}
.z_company_profile_d_b td{
    padding-top: 0;
    padding-bottom: 0;
    font-size: 18px;
    color: #fff;

}
.z_company_profile_d_b td h3{
    font-size: 24px;
    color: #fff;
    margin: 0;
    font-weight: normal;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.z_company_profile_d_b tr:hover td h3{
    color: #333;
}
.z_company_profile_d_b td:nth-child(1){
    min-width: 162px;
    padding-left: 19px;
}
.z_company_profile_d_b td:nth-child(2){
    min-width: 195px;
    padding-top: 15px;
}
.z_company_profile_d_b td:nth-child(3){
    min-width: 240px;
    padding-top: 17px;
}
.z_company_profile_d_b td:nth-child(4){
    min-width: 228px;
    padding-top: 17px;
}
.z_company_profile_d_b td:nth-child(5){
    min-width: 170px;
    padding-top: 17px;
}
.z_company_profile_d_b td:nth-child(6){
    min-width: 440px;
    padding-right: 19px;
    padding-top: 17px;
}
.z_company_profile_e{
    padding: 100px 0;
}
.z_company_profile_e h3{
    font-size: 36px;
    color: #333;
    text-align: center;
    font-weight: normal;
    margin-bottom:60px ;
}
.z_company_profile_e_b .am-direction-nav a.am-prev{
    width: 60px;
    height: 34px;
    left: -93px;
}
.z_company_profile_e_b .am-direction-nav a.am-next{
    width: 60px;
    height: 34px;
    right: -93px;
}
.z_company_profile_e_b .am-direction-nav a.am-prev:before{
    content: "";
    background-image: url(../images/technological_arrow1-1.png) !important;
    width: 60px;
    height: 34px;
}
.z_company_profile_e_b .am-direction-nav a.am-next:before{
    content: "";
    background-image: url(../images/technological_arrow2.png) !important;
    width: 60px;
    height: 34px;
}
.z_company_profile_e_bcl{
    background: none;
    margin: 0 90px;
    border: none;
    box-shadow: none;
}
.z_company_profile_e_bt{
    padding: 38px 25px;
    background: #eee;
    text-align: center;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}
.z_company_profile_e_bt img{
    transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    height: 210px;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.z_company_profile_e_bb{
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
    color: #333;
}
.z_company_profile_e_bcl .am-slides li:hover .z_company_profile_e_bt img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.z_more_ty{
    text-align: center;
    width: 100%;
    margin-top: 60px;
}
.z_more_ty a{
    width: 174px;
    height: 43px;
    text-align: center;
    line-height: 43px;
    color: #fff;
    display: inline-block;
    background: #be2025;
}
.z_company_profile_f{
    width: 100%;
    height: 580px;
    background: url("../images/about_tottbg.jpg") no-repeat center;
    background-size: cover !important;
}
.z_company_profile_fb{
    height: 100%;
    background: url("../images/about_bottpng.png") no-repeat center;
    background-size: cover;

}
.z_company_profile_f .n_wrap{
    width: 1280px;
    overflow: hidden;
}
.z_company_profile_f p{
    font-weight: 200;
    text-align: center;
    margin-top: 430px;
    font-size: 24px;
    color: #fff;
    line-height: 36px;

}
.z_company_profile_e .swiper_btn{
    width: 60px;
    height: 34px;
    position: absolute;
    top: calc(45% - 17px);
}
.z_company_profile_e .swiper-button-prev{
    background: url(../images/technological_arrow1-1.png) no-repeat center;
    left: -74px;
}
.z_company_profile_e .swiper-button-next{
    background: url(../images/technological_arrow2.png) no-repeat center;
    right: -74px;
}
.z_company_profile_e .z_company_profile_e_b{
    position: relative;
}
.z_company_profile_e_bbox{
    padding: 0 20px;
}
.z_company_profile_e .n_wrap{
    max-width: 1375px;
}

/*CompanyLeaders*/
#example5 .sp-slide .example5_z_title{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    height: 100%;
    margin-bottom: 0;
    background: url("../images/bg_intro.png") no-repeat bottom center;
}
#example5 .sp-slide h3{
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: normal;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 3px solid #fff;
}
.sp-vertical .sp-previous-arrow{
    top: calc(50% - 25px) !important;
    width: 80px;
    margin-left: 0;
    left: 40px !important;
    height: 50px;

    background: url("../images/fmleft.jpg") no-repeat center;
}
.sp-fade-arrows{
    opacity: 1 !important;
}
.sp-vertical .sp-arrow{
    display: block !important;
    margin-left: 0 !important;
}
.sp-vertical .sp-next-arrow{
    top: calc(50% - 25px) !important;
    width: 80px;
    margin-left: 0;
    left: auto !important;
    right: 40px !important;
    height: 50px;
    background: url("../images/fmright.jpg") no-repeat center;
}
#example5{
    padding-right: 0 !important;
}
.sp-slides-container{
    width: 100%;
}
.sp-next-arrow:before{
    display: none;
}
.sp-vertical .sp-arrow{
    -webkit-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}
.sp-previous-arrow:before{
    display: none;
}
.n_banner1{
    z-index: 0;
}
.banner .swiper-slide a{
    display: block;
    width: 100%;
    height: 100%;
}
.banner_touch .swiper-slide a{
    display: block;
    width: 100%;
    height: 100%;
}
.z_company_leaders_box_a{
    overflow: hidden;
    position: relative;
    margin-bottom: 70px;
}
.z_company_leaders_box_a.xs_vzl{
    text-align: center;
}
.z_company_leaders_box_a.xs_vzl .horizontal{

    display: inline-block;
}
.z_company_leaders_box_a.xs_vzl .horizontal li{
    margin: 0 20px;
    cursor:pointer;
}
.z_company_leaders_box_a.xs_vzl .horizontal li .z_hr{
    opacity: 0;
}
.z_company_leaders_box_a.xs_vzl .horizontal li.selectActive .z_hr{
    opacity: 1;
}
.z_company_leaders_bt{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.z_company_leaders_bt .z_hr{
    margin: 0 auto;
}
.z_company_leaders_bt .z_title{
    font-size: 36px;
    color: #000;
}
.z_company_leaders_bt .z_hr{
    width: 100px;
    margin-top: 20px;
    height: 3px;
    background: #3c7cbe;
}
.z_company_leaders_cn {
    width: 100%;
    text-align: center;
}
.z_company_leaders_cn ul.leaders_a{
    display: inline-block;
    text-align: center;
    overflow: hidden;
    width: 100%;
    margin-bottom: 44px;
}
.z_company_leaders_cn ul.leaders_a li{
    width: 229px;
    display: inline-block;
    margin: 0 26px;
}
.z_company_leaders_cn ul.leaders_a li a .leaders_a_t{
    display: block;
    width: 229px;
    height: 294px;
    border: 3px solid #be2025;
    overflow: hidden;
}
.leaders_a_b{
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.z_company_leaders_cn ul.leaders_a li:hover .leaders_a_b{
    background:#be2025 ;
    color: #fff;
}
.leaders_a_t img{
    transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.z_company_leaders_cn ul.leaders_a li:hover .leaders_a_t img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.z_company_leaders_cn ul.leaders_a li a .leaders_a_b{
    font-size: 24px;
    color: #000;
    text-align: center;
    width: 100%;
    display: block;
    height: 56px;
    line-height: 56px;
    margin-top: 14px;
}
.z_company_leaders_cn ul.leaders_a li .am-modal-bd{
    text-align: left;
    overflow: hidden;
    padding: 15px 34px 34px 34px;
}
.z_company_leaders_cn ul.leaders_a li .am-modal-bd .leaders_xq_l {
    width: 276px;
    height: 352px;
    overflow: hidden;
    border: 3px solid #be2025;
}
.z_company_leaders_cn ul.leaders_a li .leaders_xq_l img{
    width: 100%;
}
.z_company_leaders_cn ul.leaders_a li .am-modal-bd .leaders_xq_r {
    width: 672px;
}
.leaders_xq_r .leaders_xq_rt{
    font-size: 24px;
    font-weight: bold;
}
.leaders_xq_rb p{
    margin-top: 0;
    margin-bottom: 10px;
}
.leaders_xq_rs{
    margin: 10px 0;
}

/* Example 5 */
.z_enterprise_style .slider-pro{
    margin: 0;
}
.sp-right-thumbnails.sp-has-pointer{
    margin-left: 0 !important;
    right: -419px;
}
.z_enterprise_style{
    overflow: hidden;
}
.sp-right-thumbnails.sp-has-pointer .sp-thumbnail{
    left: 0 !important;
}
.sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:before{
    margin-left: 0 !important;
}
#example5 .sp-thumbnail-image-container {
    width: 339px;
    height: 215px;
    overflow: hidden;
    float: left;
}
.sp-left-thumbnails .sp-thumbnail-container, .sp-right-thumbnails .sp-thumbnail-container{
    margin-bottom: 28px !important;
}
#example5 .sp-thumbnail-image {
    width: 100%;
}
.sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:before{
    content: "";
    border: none !important;
    width: 339px;
    height: 214px !important;
    display: block;
    z-index: 9;
    background: url("../images/xltbx.png") no-repeat center;
}
.sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:after{
    display: none;
}
#example5 .sp-thumbnail-text {
    width: 140px;
    float: right;
    height:80px;
    padding:15px;
    background-color: #F0F0F0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#example5 .sp-thumbnail-title {
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #333;
}

#example5 .sp-thumbnail-description {
    font-size: 14px;
    color: #333;
}

@media (max-width: 500px) {
    #example5 .sp-thumbnail {
        text-align: center;
    }

    #example5 .sp-thumbnail-image-container {
        display: none;
    }

    #example5 .sp-thumbnail-text {
        width: 120px;
    }

    #example5 .sp-thumbnail-title {
        font-size: 12px;
        text-transform: uppercase;
    }

    #example5 .sp-thumbnail-description {
        display: none;
    }
}

/*视频中心弹窗*/
.j_content_w .am-u-lg-4{
    overflow: hidden;
}
.videolist:hover{
    cursor: pointer;
}
.videoed {
    display:none;
    width:50px;
    height:50px;
    position: absolute;
    left:45%;
    top:45%;
    z-index:99;
    border-radius:100%;
}
.videos{
    display:none;
    border: 1px solid #080808;
    position:fixed;
    left:50%;
    top:50%;
    margin-left:-392px;
    margin-top:-220px;
    z-index:100;
    width:785px;
    height:440px;
}
.vclose {
    position:absolute;
    right:1%;
    top:1%;
    border-radius:100%;
    cursor: pointer;
}

/*社会化分享*/
.bsTop{
    width: 208px !important;

}
.j_share_button .bshare-custom .bshare-weixin{
    background: url("../images/wechat.png") no-repeat !important;
    width: 22px !important;
    height: 19px !important;
}
.j_share_button .bshare-custom .bshare-qqim{
    background: url("../images/qq.png") no-repeat !important;
    width: 22px !important;
    height: 19px !important;
}
.j_share_button .bshare-custom .bshare-qzone{
    background: url("../images/space.png") no-repeat !important;
    width: 22px !important;
    height: 19px !important;
}
.j_share_button .bshare-custom .bshare-sinaminiblog{
    background: url("../images/weibo.png") no-repeat !important;
    width: 22px !important;
    height: 19px !important;
}
/*专题专栏视频弹窗*/
.j_content_z{
    padding-top: 60px;
}
.z_thematic_tlas{
    overflow: hidden;
    padding-bottom: 100px;
}
.j_content_z h3{
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 60px;
}
/*招聘列表条件搜索*/
.z_screen_search{
    margin-bottom: 25px;
    height: 45px;
}
.z_screen_search form{
    height: 45px;
}
.z_screen_search form .am-selected{
    width: 30%;
    margin-right: 25px;
}
.z_screen_search_select{
    width: 65%;
}
.z_screen_search_search{
    width: 35%;
}
.z_screen_search_select .am-selected-icon{
    color: #0054aa;
}
.z_screen_search_select .am-selected-list li.am-checked .am-icon-check{
    color: #be2126;
}
.z_screen_search_select .am-selected-btn.am-btn-default{
    padding: 0.5em 2em !important;
    width: 100%;
    height: 45px;
    display: block;
    background: #f2f2f2;
}
.z_screen_search_search .keyword{
    width: 65%;
    height: 45px;
    border: none;
    outline: none;
    padding: 0 20px;
    background: #f2f2f2;
    float: left;
}
.z_screen_search_search .z_search_ico{
    font-size: 14px;
    color: #fff;
    height: 45px;
    line-height: 45px;
    display: block;
    text-align: center;
    width: 35%;
    float: right;
    background: #be2025;
}
.j-card-group p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
}
.index_case{
    position: relative;
    overflow: hidden;

}
.j_group_top{
    width: auto;
}
.j_group_top h4{
    margin-top: 35px;
}
.j_newsbox .j-grid .am-u-lg-4.j_newlbox{
    height: 277px;
    overflow: hidden;
}
.z_index_news_w .j_width-1-3{
    height: 269px;
}
.index_case .index_title_ty{
    position: absolute;
    display: inline-block;
    top: 110px;
    left: 50%;
    z-index: 9;
    transform: translate(-50%, 0);
}
.index_case .index_title_ty a{
    color: #fff;
}
.index_title_ty a{
    color: #333;
}
.ProductCenter .z_Title h1 a{
    color: #fff;
}
/*荣誉资质*/
.j_produ_img img{

    height: 361px;
}
.z_qywh .am-modal-dialog img{
    max-width: none;
    width: 100%;
}
.z_qywh .am-modal-dialog .am-modal-hd{
    background: #eee;
}
.z_qywh .am-modal-dialog .am-modal-bd{
    color: #fff;
    font-size: 26px;
    margin-top: 10px;
}
/*案例详情*/
.z_case_show_swiper{
    margin-top: 70px;
}
.j_productbox{
    margin-top: 70px;
}
.j_column_desc{
    margin-top: 70px;
}
.z_case_show_swiper_bt h3{
    font-size: 36px;
    line-height: 30px;
    color: #333;
    font-weight: normal;
}
.z_case_show_swiper_sp span{
    color: #888;
    font-size: 16px;
    margin-right: 65px;
}
.z_case_show_swiper_cn{
    margin-top: 46px;
    line-height: 30px;
    color: #333;
    margin-bottom: 60px;
}
.z_case_show_swiper_cz .swiper-slide{
    padding:0 30px ;
}
.z_case_show_swiper_cz .swiper-slide img{
    opacity: 0.5;
}
.z_case_show_swiper_cz{
    margin-bottom: 85px;
}
.z_case_show_swiper_cz .swiper-slide{
    position: relative;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;

}
.z_case_show_swiper_cz .z_title{
    position: absolute;
    z-index: 9;
    bottom: -600px;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
    width: 60%;
    left: calc(50% - 362.5px);
    text-align: center;
    color: #fff;
}
.z_case_show_swiper_cz .z_huidi{
    position: absolute;
    z-index: 8;
    width: 100%;
    height: 100%;
    bottom: -600px;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
    left: 0;
    background: url("../images/z_xqbg.png") no-repeat center bottom;
}
.z_case_show_swiper_cz .swiper-button-prev{
    width: 80px;
    height: 50px;
    position: absolute;
    z-index: 10;
    top: calc(50% - 25px);
    left: 20%;
    background: url("../images/fmleft.jpg") no-repeat center;
}
.z_case_show_swiper_cz .swiper-button-next{
    width: 80px;
    height: 50px;
    position: absolute;
    z-index: 10;
    top: calc(50% - 25px);
    right:20%;
    background: url("../images/fmright.jpg") no-repeat center;
}
.z_case_show_swiper_cz .swiper-slide-active .z_title{
    bottom: 40px;
}
.z_case_show_swiper_cz .swiper-slide-active .z_huidi{
    bottom: 0;
}
.z_case_show_swiper_cz .swiper-slide-active img{
    opacity: 1;
}
.j_campus_title{
    cursor: pointer;
}
/*首页视频切换*/

.exhibition_hall {text-align:center;position: relative;}

.roundabout_box {height:390px;}

.j_talentbox{
    margin-top: 60px;
}
/**********roundabout**********/
.roundabout_box {height:390px;}
.roundabout-holder{list-style:none;height:390px;margin:0 auto;}
.roundabout-moveable-item{height:300px;cursor:pointer;background:#f9f9f9;}
.z_index_video_img{max-height:299px}
.news_index .videos{
    width: 890px;
    height: 500px;
    margin-left: -444px;
    margin-top: -302px;
}
.news_index .videos video{
    width: 890px !important;
    height: 500px !important;
}
.news_index .videolist{
    position: relative;
    overflow: hidden;
    max-height: 544px;
}
.news_index .videolist .text{

    font-size: 16px;
    line-height: 30px;
    display: none;
}
.roundabout-in-focus .text{
    display: block !important;
}
.ban_l_btn{
    position: absolute;
    left:172px;
    z-index: 999;
    top: calc(50% - 25px);
    width:80px ;
    display: block;
    height: 50px;
    background: url("../images/fmleft.jpg") no-repeat center;
}
.ban_r_btn{
    position: absolute;
    right:188px;
    z-index: 999;
    top: calc(50% - 25px);
    width:80px ;
    height: 50px;
    display: block;
    background: url("../images/fmright.jpg") no-repeat center;
}
.roundabout-in-focus{cursor:auto;border-left:1px #fff solid;border-right:1px #fff solid;}
.roundabout-in-focus000:hover{-webkit-box-shadow:0px 0px 20px #787878;-moz-box-shadow:0px 0px 20px #787878;background:#f9f9f9;}

.roundabout-in-focus000:hover span{display:inline;position:absolute;bottom:5px;right:5px;padding:8px 20px;background:#f9f9f9;color:#3366cc;z-index:999;-webkit-border-top-left-radius:5px;-moz-border-radius-topLeft:5px;border-left:1px solid #aaaaaa;border-top:1px solid #aaaaaa;}
.roundabout a:active, .roundabout a:focus, .roundabout a:visited{outline:none;text-decoration:none;}
.roundabout li{margin:0}

/*qualifications*/
.z_qualifications{
    margin-top: 60px;
    padding-bottom: 120px;
    overflow-y: hidden;
}
.z_qualifications .picture_suo .picture_suo_t .suo-img .text{
    background: none;
    border: 5px solid #be1204;
    height: 210px;
}
.z_qualifications .picture_suo .picture_suo_t .suo-img .text img{
    height: 210px;
}
.z_qualifications .picture_suo .picture_suo_t .picture_suo_img{
    height: 210px;
}
.z_qualifications .picture_suo .picture_suo_t .picture_suo_img .picture_img2{
    background: #eeeeee;
    padding: 30px;
}
.z_qualifications .picture .picture_bottom{
    height: 694px;
}
.z_qualifications .picture .picture_bottom .picture_left .picture_img{
    height:  694px;
}
.z_qualifications .picture_bottom .picture_left .picture_img .picture_img2{
    padding: 45px;
    background: #eee;
    display: block;
}
.z_qualifications .picture_bottom .picture_left .picture_img .picture_img2 img{
    height: 604px;
    width: auto;
}
.z_qualifications .picture_suo .picture_suo_t .picture_suo_img .picture_img2{
    text-align: center;
}
.z_qualifications .picture_suo .picture_suo_t .picture_suo_img .picture_img2 img{
    height: 155px;
    width: auto;
}
.z_qualifications .picture .picture_bottom .picture_left .picture_img .text{
    font-size: 24px;
    color: #000;
    margin-top: 20px;
    text-align: left;
    padding-bottom: 15px;
    background: url("../images/rybbg.jpg") no-repeat left bottom;
}
.news_index .am-tabs-bd .am-tabs .j_tab3_tab li a{
    outline: none;
}
.am-close{
    color: #be2025;
    opacity: 1;
    font-size: 34px;
}
.z_company_leaders_pc{
    margin-top: 70px;
}
.j_groupbox h3{
    display: none;
}
.j_index_xl .am-dropdown-content{
    transition: All 0.3s ease-in-out;
    -webkit-transition: All 0.3s ease-in-out;
    -moz-transition: All 0.3s ease-in-out;
    -o-transition: All 0.3s ease-in-out;
}
.j_index_xl:hover .am-dropdown-content{
    display: block;
}

.j_earth{
    display: none;
}
.j_language1{
    display: none;
}
.z-navbar-top{
    display: none;
}
header .j-navbar-right .j-navbar-nav>li{
    height: 100px;
}
header .j-navbar-right .j-navbar-nav>li>a{
    height: 100px;
    line-height: 100px;
}
#z_index_xl{
    line-height: 100px;
}
#z_search{

    position: relative;


}
#z_search .z_search_box{
    background: #fff;
    height: 46px;
    line-height: 46px;
    width: 250px;
    border: 1px solid #f2f2f2;
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    top: 67px;
    z-index: 99;
    right: -128px;
    opacity: 0;
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
#z_search:hover .z_search_box{
    right: 28px;
    opacity: 1;
    pointer-events: auto;
}
#z_search .j_search_n{
    top: 0;
    right: 0;
    float: right;
    width: 46px;
    height: 46px;
    line-height: 40px;
    z-index: 3;
    text-align: center;
}
#z_search .j_search_n img{
    display: inline-block;
}
#z_search .z_navbar-img{
    width: 22px;
    height: 100px;
    line-height: 100px;
    cursor:pointer;
}
#z_search .z_navbar-img img{
    width: auto;
}
#z_search .keyword{
    padding: 0 20px;
    height: 46px;
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    outline:none;
    z-index: 0;
    text-indent:0;
    transition: All 0.3s ease-in-out;
    -webkit-transition: All 0.3s ease-in-out;
    -moz-transition: All 0.3s ease-in-out;
    -o-transition: All 0.3s ease-in-out;
}
#z_search .z_search_box:hover .keyword{
    text-indent: 0;
}
.index_case{
    padding-top: 235px;
    width: 100%;
    height: 1000px;
    margin-bottom: 40px;
    position: relative;
    background: url("../images/case_news_bg.jpg") no-repeat bottom center;
}
.index_case .n_wrap{
    max-width: 1670px;
}
.index_case_zl{
    width: 426px;
}
.index_case_zr{
    width: 1690px;
    position: absolute;
    bottom: 154px;
    right: -445px;
}
.index_case_zl .z_title{
    font-size: 36px;
    color: #383838;
    padding-bottom: 27px;
    margin-bottom: 30px;
    border-bottom: 1px solid #383838;
}
.index_case_zl .z_title a{
    color: #000;
}
.index_case_zl .z_describe{
    color: #666;
    font-size: 14px;
}
.index_case_zr .n_zd_wrap{
    position: absolute;
    left: -246px;
    bottom: 177px;
    width: 157px;
    z-index: 99;
}
.index_case_zr .swiper-button-prev{
    width: 68px;
    height: 68px;
    float: left;
    cursor:pointer;
    background: url("../images/case_new2l.png") no-repeat center;
}
.index_case_zr .swiper-button-next{
    width: 68px;
    float: right;
    height: 68px;
    cursor:pointer;
    background: url("../images/case_new2r.png") no-repeat center;
}
.index_case_zr .index_case_data{
    font-size: 18px;
    padding-left: 33px;
    color: #fff;
    background: url("../images/case_bt_jt.png") no-repeat left center;
}
.index_case_zr .index_case_title{
    color: #fff;
    font-size: 18px;
    padding-left: 33px;
}
.index_case_new_ti{
    width:531px;
    padding: 29px 19px;
}
.index_case_zr .swiper-slide-active .index_case_new_ti{
    background: #fff;

}
.index_case_zr .swiper-slide-active .index_case_data{
    background: url("../images/case_bt_jt2.png") no-repeat left center;
    color: #284795;
}
.index_case_zr .swiper-slide-active .index_case_title{

    color: #284795;
}
.index_case_zr .in_container img{
    max-width: 531px;
    height: 398px;
}
.j_map_info p{
    line-height: 33px;
}
.j_map_info p span{
    margin-right: 5px;
}
.j_mapbox .am-u-lg-4 .j_map_info{
    height: 505px;
}
.z_qywh .z_product_box_honor .am-modal-bd{
    color: #000;
}

/*new_section*/
#header{
    position: absolute;
    z-index: 999;
    top: 0;
    width: 100%;
}
.banner .swiper-container{
    height: calc(88vh - 100px);
    margin-top: 100px;
}
.data_top{
    padding:0;
    height: 12vh;
}
.data_top .data_a1{
    margin-top: 2vh;
}
.data_top .data_a1 .data_a1_t{
    font-size: 70px;
    line-height: 70px;
}
.ProductCenter{
    background: none !important;
}
.section2{
    background: url(../images/cpbg.jpg) no-repeat center #060e23;
    background-size: cover;
}
.investor{
    background: none;
}
.section4{
    background: url(../images/investorbg.jpg) no-repeat center;
    background-size: cover;
}
.section6 .index_other{
    height: 66.5vh;
    position: relative;
}
.index_other_p{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}
.index_other_p .n_wrap{
    max-width: none;
    padding: 0;
    width: 1520px;
}
.section6 .footer_text{
    height: 33.5vh;
}
.footer_text{
    position: relative;
    width: 100%;
    bottom: 0;
    padding: 0;
}
.footer_text_n_top{
    width: 100%;
    height: 23.5vh;
    background: url("../images/f_n_bg.jpg") no-repeat center;
    background-size: cover;
}
.footer_text_n_bottom{
    height: 10vh;
    background: #2c2c2c;
}
.z_web_information_tip_t{
    width: 100%;
    padding: 45px 0 35px 0;
}
.z_web_information_tip_b{
    display: inline-block;
}
.z_web_information_tip{
    margin: 0;
    height: auto;
}
.z_web_information_tip .am-dropdown-up{
    margin: 0;
}
.z_web_information_tip .am-btn{
    border-radius: 99px;
    width: 335px;
    margin-right: 60px;
}
.z_web_information_tip_t>div:nth-child(4) .am-btn{
    margin-right: 0;
}
.z_web_information_tip .am-dropdown-up .am-dropdown-content{
    width: 85%;
    border-radius: 3px;
}
.z_web_information_tip_t>div:nth-child(4) .am-dropdown-content{
    width: 100%;
    border-radius: 3px;
}
.z_web_information_tip_b{
    text-align: center;
    width: 100%;
}
.z_web_information_tip_bc{
    display: inline-block;
}
.z_web_information_tip_bc .qrcode_lx{
    text-align: left;
    color: #fff;
    margin-left: 40px;
}
.z_web_information_tip_bc .qrcode_lx div{
    color: #fff;
    font-size: 16px;
    line-height: 30px;
}
.qrcode img{
    display: block;
    float: none;
}
.qrcode span{
    display: block;
    line-height: 45px;
    font-size: 16px;
    margin-left: 0;
    color: #fff;
    float: none;
    text-align: center;
}
.web_information_box{
    border: none;
    text-align: center;
    height: 100%;
}
.footer_text_n_bottom .n_wrap{
    height: 100%;
}
.web_information_box .left{
    float: none;
    display: inline-block;
    width: 100%;
    color: #b4b4b4;
    height: 100%;
    position: relative;
}
.web_information_box .left p{
    width: 100%;
    color: #b4b4b4;
    font-size: 16px;
    line-height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.web_information_box .left p a{
    color: #b4b4b4;
    font-size: 16px;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
    width: 8px;
    height: 8px;
    background: #7e7e7e;
    margin: -4px 0 0 -4px;
}
#fp-nav ul li, .fp-slidesNav ul li{
    width: 14px;
    height: 14px;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{
    background: #d31a1a;
}
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span{
    background: #d31a1a;
}
.index_case{
    background: none;
}
.section5{
    background: url(../images/case_news_bg.jpg) no-repeat bottom center;
    background-size: cover;
}
.z_web_information_tip .am-btn{
    outline:none;
}
.news_index_lb{
    display: block;
    height: 527px;
    overflow: hidden;
}
.index_case{
    padding-top: 0;
}
.index_case_zl{
    margin-top: 364px;
}
.index_case_zr{
    bottom: 88px;
}
.index_case .n_wrap{
    max-width: 1520px;
}
.ProductCenter{
    padding: 0;
}
.ProductCenter .z_Title{
    margin-top: 100px;
}
.news_index{
    padding: 0;
}
.investor{
    padding: 0;
}
.investor .index_title_ty{
    margin-top: 70px;
}

.n_banner{
    height: 500px;
    margin-top: 100px;
}
.n_banner1{
    height: 500px;
}
.n_banner1 .n_wrap{
    height: 500px;
}
.n_banner h1{
    bottom: 208px;
}
.j_titleline{
    bottom: 208px;
}
/*1.13*/
.investor_lt a{
    color: #333;
}
.z_company_profile_a_infobox{
    padding: 51px 58px;
}
.z_company_profile_a_infobox .z_more a{
    float: right;
}
.j_worldmap_box_z_bottom{
    overflow: hidden;
}
.j_mapbox .j_product_box{
    margin-top: 60px;
}
.j_mapbox .am-u-lg-4 .j_map_info{
    height: 352px;
}
.j_produ_details_lb .am-slider .am-slides > li{
    height: 525px;
}
.z_company_profile_a_infobox{
    height: auto;
    top:50%;
    transform: translate(0, -50%);
}
.j_produ_details_lb{
    height: auto;
}
.j_index_tab2 .j_width-1-3>div{
    height: 269px;
}
#tab4 .roundabout-moveable-item{
    background: none;
}
.j_campus_cont1{
    width: 100%;
    padding-right: 35px;
}
.j_mapbox .j_product_box{
    z-index: 0 !important;
}
.z_company_profile_a_infobox .z_more a:focus{
    color: #fff;
}
.j_newscont_about {
    width: 100%;
}
.j_technological_box_1{
    width: 48%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 25px;
}
.j_technological_box>div:nth-child(even){
    margin-right: 0;
}
.j_intellectual_box2>div:last-child{

}
.j_intellectual_box2>div>div{
    width: 100%;
    text-align: center;
}
.j_intellectual_box2>div:nth-child(3n+0){
    margin-right: 0;
}
.j_intellectual_box2>div:last-child{
    margin-right: 130px;
}
.n_banner{
    background-size: auto;
}

/*1.28*/
.z_rczl_xzt{
    text-align: center;
    font-size: 36px;
    color: #333;
}
.z_rczl_xzs{
    text-align: center;
    font-size: 16px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 70px;
}
.z_rczl_xzb{
    overflow: hidden;
    margin-bottom: 55px;

}
.z_rczl_xzb ul{
    padding-left: 145px;
}
.z_rczl_xzb ul li{
    float: left;
    width: 284px;
    overflow: hidden;
    margin-left: -29px;
    cursor:pointer;
}
.z_rczl_xzbt{
    background: url("../images/z_rczl_xzsbg1.png") no-repeat center;
    width: 100%;
    height: 295px;
    position: relative;
    text-align: center;
    padding-top: 93px;

}
.z_rczl_xzbtb{
    margin-top: 16px;
    font-size: 24px;
    color: #333;
}

.z_rczl_xzbtt img{
    width: 42px;
    height: 41px;
}
.z_rczl_xzbb{
    margin-top: 30px;
    padding: 0 15px;
    opacity: 0;
    text-align: center;
    transition: All 0.3s ease-in-out;
    -webkit-transition: All 0.3s ease-in-out;
    -moz-transition: All 0.3s ease-in-out;
    -o-transition: All 0.3s ease-in-out;
}
.z_rczl_xzb ul li:hover .z_rczl_xzbt{
    background: url("../images/z_rczl_xzsbg2.png") no-repeat center;
    z-index: 9;
}
.z_rczl_xzb ul li:hover .z_rczl_xzbb{
    opacity: 1;
}
.z_talent_bottom{
    margin-bottom: 60px;
}
.j_talent_bottom h3{
    font-weight: normal;
}